# ------------------------------------------------------------
# WARNING: This file was generated automatically.
# Do not edit this file manually. Changes will be overwritten.
# To make changes, edit business_api.yml instead.
# ------------------------------------------------------------

openapi: 3.1.1
info:
  version: v2
  title: Qonto
servers:
  - url: https://thirdparty.qonto.com
    description: Production URL
  - url: https://thirdparty-sandbox.staging.qonto.co
    description: Sandbox URL
security:
  - OAuth:
      - organization.read
      - membership.read
      - membership.write
      - attachment.write
      - internal_transfer.write
      - payment.write
      - supplier_invoice.write
      - supplier_invoice.read
      - client_invoices.read
      - client_invoice.write
      - client.read
      - client.write
      - request_review.write
      - request_review.read
      - team.read
      - team.write
      - request_transfers.write
      - insurance_contract.read
      - insurance_contract.write
      - card.read
      - card.write
      - bank_account.write
      - beneficiary.trust
      - webhook
      - payment_link.write
      - payment_link.read
  - SecretKey: []
paths:
  /v2/einvoicing/settings:
    get:
      tags:
        - E-invoicing
      summary: Get e-invoicing settings
      description: |
        OAuth scope: `einvoicing.read`

        Returns the e-invoicing sending and receiving status for the authenticated organization. If the country is not supported, it returns the default settings.
      operationId: get_einvoicing_settings
      parameters:
        - $ref: '#/components/parameters/X-Qonto-Staging-Token'
      responses:
        '200':
          description: Returns the e-invoicing settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sending_status:
                    type: string
                    example: enabled
                    enum:
                      - enabled
                      - disabled
                    description: The status of e-invoicing sending for the organization
                  receiving_status:
                    type: string
                    example: enabled
                    enum:
                      - enabled
                      - disabled
                      - pending_creation
                      - pending_deletion
                    description: The status of e-invoicing receiving for the organization
                required:
                  - sending_status
                  - receiving_status
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-Not-Found'
        '500':
          $ref: '#/components/responses/500-Internal-Server-Error'
      security:
        - OAuth:
            - einvoicing.read
        - SecretKey: []
  /v2/sepa/bulk_transfers/{id}:
    parameters:
      - $ref: '#/components/parameters/X-Qonto-Staging-Token'
    get:
      tags:
        - SEPA Transfers
      summary: Get Bulk Transfer
      description: |
        OAuth scope: `organization.read`

        Retrieves the current status of a bulk transfer and the progress of individual transfers.

        Returns a simple JSON response with job-level status and per-transfer details.

        If there was a failure to create one of the transfers, you should be able to identify which transfer that was based on the `client_transfer_id` value provided.
        This makes it easy to pinpoint the exact transfer and property that caused the issue, allowing for quick troubleshooting and resolution.

        The status of the transfer result does not correspond to the actual transfer status. A transfer can be created but fail once Qonto
        tried to process it. Use the `/v2/sepa/transfers?ids[]=1&ids[]=2&ids[]=n` resource to fetch the actual transfers. You can filter up to 100 transfer IDs at a time.
      operationId: getSepaBulkTransfer
      security:
        - OAuth:
            - organization.read
        - SecretKey: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the bulk transfer.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the job status
          content:
            application/json:
              schema:
                type: object
                required:
                  - bulk_transfer
                properties:
                  bulk_transfer:
                    $ref: '#/components/schemas/BulkSepaTransferJobResponse'
              example:
                bulk_transfer:
                  id: fe1ed7b6-4fee-4036-aaaa-43e1d3154ab3
                  initiator_id: f8d96abb-63fe-4a1d-bbd5-10f76eec2e6f
                  created_at: '2025-04-10T10:00:00Z'
                  updated_at: '2025-04-10T10:05:00Z'
                  total_count: 400
                  completed_count: 300
                  failed_count: 10
                  pending_count: 90
                  results:
                    - client_transfer_id: 3c90c3cc-0d44-4b50-8888-8dd25736052a
                      status: completed
                      transfer_id: 027f1410-3749-4c42-a678-31c6f158e652
                      errors: null
                    - client_transfer_id: 10f2bb10-9c81-42a0-a163-b45c3be14807
                      status: failed
                      transfer_id: null
                      errors:
                        - code: invalid
                          detail: Invalid IBAN
                          source:
                            pointer: /bank_account_id
                    - client_transfer_id: be134b6b-6832-49cc-9b04-3a106dab27c7
                      status: pending
                      transfer_id: null
                      errors: null
        '401':
          description: Unauthorized
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          description: Forbidden
          $ref: '#/components/responses/403-Forbidden'
        '404':
          description: BulkTransfer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404-Not-Found'
              example:
                errors:
                  - code: not_found
                    detail: BulkTransfer does not exist
                    source:
                      parameter: id
  /v2/sepa/bulk_transfers:
    parameters:
      - $ref: '#/components/parameters/X-Qonto-Staging-Token'
    get:
      tags:
        - SEPA Transfers
      summary: List Bulk Transfers
      description: |
        OAuth scope: `organization.read`

        Retrieves a list of all SEPA Bulk transfers. The list is ordered by `updated_at` in descending order.
      operationId: listSepaBulkTransfers
      security:
        - OAuth:
            - organization.read
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: List of SEPA Bulk transfers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - bulk_transfers
                  - meta
                properties:
                  bulk_transfers:
                    type: array
                    items:
                      $ref: '#/components/schemas/BulkSepaTransferJobResponse'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          description: Forbidden
          $ref: '#/components/responses/403-Forbidden'
    post:
      tags:
        - SEPA Transfers
      summary: Create a Bulk Transfer
      description: |
        OAuth scope: `payment.write`

        This operation requires [Strong Customer Authentication](/api-reference/business-api/authentication/sca/sca-flows), except when all transfers include a `beneficiary_id` and [all beneficiaries are trusted](/api-reference/business-api/payments-transfers/sepa-transfers/beneficiaries/sepa-beneficiaries/trust), in which case **SCA is not required**.
        However, if at least transfer passes the `beneficiary` object then **SCA will be triggered**.

        <Note>
          Example of SCA usage: [Postman visual flow](https://www.postman.com/qontoteam/workspace/qonto-public-api/flow/6670429eb7bd63003156bd57)
        </Note>

        Creates a batch of SEPA transfers for asynchronous processing. If the payload is valid, a `BulkTransfer` is created and returned, which can be polled via `GET v2/sepa/bulk_transfers/:id`.

        You can either provide a `beneficiary_id` for a known beneficiary or `beneficiary` data which will create an untrusted beneficiary on the fly.

        **Note**:
        - if a beneficiary with the same IBAN already exists, the provided details (such as name) will be updated;
        - this endpoint is not trusting the beneficiary - you can trust a beneficiary through the Qonto app (for more details, please refer to [this article](https://support-de.qonto.com/hc/en-us/articles/23949206250641-How-can-I-mark-a-payee-as-trustworthy#h_925061f25d)) or through [this endpoint](/api-reference/business-api/payments-transfers/sepa-transfers/beneficiaries/sepa-beneficiaries/trust) (available for Embed partners only).

        Business rules and validations are applied to each individual transfer after the `BulkTransfer` is created. For instance, transfers above 30,000 EUR require at least one attachment. This validation is performed asynchronously, meaning the `BulkTransfer` will be created, but if the attachment is missing, the result for that transfer will contain an error.

        By default, transfers will be processed as **instant**. If instant processing isn't possible, it will automatically fall back to standard processing. It will be the case if the amount of the individual transfer is above the following thresholds 👇
        <AccordionGroup>
          <Accordion title="Untrusted beneficiary">
            - The individual transfer is above 5,000 EUR;
            - More than 20,000 EUR have been sent to this beneficairy within 24 hours.
          </Accordion>
          <Accordion title="Trusted beneficiary">
            - The individual transfer is above 10,000 EUR;
            - More than 50,000 EUR have been sent to this beneficairy within 24 hours.
          </Accordion>
        </AccordionGroup>

        To learn more about instant transfers, please read [this article](https://support-fr.qonto.com/hc/en-us/articles/23947629441681-How-to-make-an-instant-transfer-in-euros-SEPA).
      operationId: createSepaBulkTransfers
      security:
        - OAuth:
            - payment.write
      parameters:
        - $ref: '#/components/parameters/X-Qonto-2fa-Preference'
        - $ref: '#/components/parameters/X-Qonto-Idempotency-Key'
        - $ref: '#/components/parameters/X-Qonto-Sca-Session-Token'
        - $ref: '#/components/parameters/X-Qonto-MFA'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkSepaTransferRequest'
      responses:
        '200':
          description: Successfully creates a BulkTransfer for processing
          content:
            application/json:
              schema:
                type: object
                required:
                  - bulk_transfer
                properties:
                  bulk_transfer:
                    $ref: '#/components/schemas/BulkSepaTransferJobResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-Bad-request'
              examples:
                reference is missing:
                  value:
                    errors:
                      - code: missing_key
                        detail: reference is missing
                        source:
                          pointer: /bulk_transfers/2/reference
                amount is missing:
                  value:
                    errors:
                      - code: missing_key
                        detail: amount is missing
                        source:
                          pointer: /bulk_transfers/1/amount
                with invalid amount:
                  value:
                    errors:
                      - code: invalid
                        detail: amount must be greater than 0
                        source:
                          pointer: /bulk_transfers/4/amount
                attachment_ids exceeds max limit:
                  value:
                    errors:
                      - code: above_max_size
                        detail: attachment_ids cannot be greater than 5
                        source:
                          pointer: /bulk_transfers/0/attachment_ids
                with unknown beneficiary:
                  value:
                    errors:
                      - code: beneficiary_not_found
                        detail: Beneficiary with id=66b7e300-0126-4905-9688-27b445a48c4e not found
                        source:
                          pointer: /bulk_transfers/20/beneficiary_id
                with unknown bank account:
                  value:
                    errors:
                      - code: bank_account_not_found
                        detail: BankAccount with id=420e13ac-9d3e-4c11-93a1-0c3c8304f2df not found
                        source:
                          pointer: /bank_account_id
                invalid or missing vop proof token:
                  value:
                    errors:
                      - code: invalid_vop_proof_token
                        detail: vop_proof_token is required and must be valid
                        source:
                          pointer: /vop_proof_token
        '401':
          description: Unauthorized
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          description: Forbidden
          $ref: '#/components/responses/403-Forbidden'
  /v2/sepa/transfers/{id}/download_proof:
    parameters:
      - $ref: '#/components/parameters/X-Qonto-Staging-Token'
    post:
      tags:
        - SEPA Transfers
      summary: Download proof of a SEPA transfer
      description: |-
        OAuth scope: `payment.write`

        Downloads the proof of a specific SEPA transfer. This operation is only possible if the transfer has been completed.
      operationId: downloadProofSepaTransfer
      security:
        - OAuth:
            - payment.write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID of the SEPA transfer
      responses:
        '200':
          description: The PDF proof file in binary.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              description: Indicates if the content is expected to be displayed inline in the browser, or as an attachment to be downloaded; filename is the default name.
              schema:
                type: string
              example: attachment; filename="preuve-12345.pdf"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-Bad-request'
              examples:
                when transfer is not completed:
                  value:
                    errors:
                      - code: not_in_status
                        detail: The transfer must be completed for this operation to be successful
                        source:
                          parameter: id
        '401':
          description: Unauthorized
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          description: Forbidden
          $ref: '#/components/responses/403-Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404-Not-Found'
              examples:
                not_found:
                  value:
                    errors:
                      - code: not_found
                        detail: Transfer not found
                        source:
                          parameter: id
  /v2/sepa/transfers/{id}/cancel:
    parameters:
      - $ref: '#/components/parameters/X-Qonto-Staging-Token'
    post:
      tags:
        - SEPA Transfers
      summary: Cancel SEPA transfer
      description: |-
        OAuth scope: `payment.write`

        Cancels a specific SEPA transfer. This operation is only possible if the transfer has not been processed.
      operationId: cancelSepaTransfer
      security:
        - OAuth:
            - payment.write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID of the SEPA transfer
      responses:
        '204':
          description: SEPA transfer successfully cancelled
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-Bad-request'
              examples:
                when transfer cannot be cancelled:
                  value:
                    errors:
                      - code: cannot_cancel
                        detail: The transfer cannot be cancelled
                        source:
                          parameter: id
        '401':
          description: Unauthorized
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          description: Forbidden
          $ref: '#/components/responses/403-Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404-Not-Found'
              examples:
                not_found:
                  value:
                    errors:
                      - code: not_found
                        detail: Transfer not found
                        source:
                          parameter: id
  /v2/sepa/transfers/{id}:
    parameters:
      - $ref: '#/components/parameters/X-Qonto-Staging-Token'
    get:
      tags:
        - SEPA Transfers
      summary: Get SEPA transfer
      description: |
        OAuth scope: `organization.read`

        Retrieves a specific SEPA transfer by ID.
      operationId: getSepaTransfer
      security:
        - OAuth:
            - organization.read
        - SecretKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID of the SEPA transfer
      responses:
        '200':
          description: SEPA transfer retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - transfer
                properties:
                  transfer:
                    $ref: '#/components/schemas/SepaTransfer'
        '401':
          description: Unauthorized
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          description: Forbidden
          $ref: '#/components/responses/403-Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404-Not-Found'
              examples:
                not_found:
                  value:
                    errors:
                      - code: not_found
                        detail: Transfer not found
                        source:
                          parameter: id
  /v2/sepa/transfers:
    parameters:
      - $ref: '#/components/parameters/X-Qonto-Staging-Token'
    get:
      tags:
        - SEPA Transfers
      summary: List SEPA transfers
      description: |
        OAuth scope: `organization.read`

        Retrieves a list of all SEPA transfers.
      operationId: listSepaTransfers
      security:
        - OAuth:
            - organization.read
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
        - name: status
          in: query
          description: Transfers can be filtered by their `status`. This filter accepts an array of statuses.
          allowReserved: false
          schema:
            type: array
            enum:
              - pending
              - processing
              - canceled
              - declined
              - settled
            items:
              type: string
              enum:
                - pending
                - processing
                - canceled
                - declined
                - settled
              default: pending
              example: pending
            example: status[]=processing&status[]=declined&status[]=settled
        - name: updated_at_from
          in: query
          description: 'Transfers can be filtered by their `updated_at` property. This filter can be used in combination with the `updated_at_to` query parameter to get transfers updated within a specific timeframe. Please use a valid date time format (**ISO 8601** for instance). '
          required: false
          schema:
            type: string
            format: date-time
            example: '2019-01-10T11:47:53.123Z'
        - name: updated_at_to
          in: query
          description: 'Transfers can be filtered by their `updated_at` property. This filter can be used in combination with the `updated_at_from` query parameter to get external transfers updated within a specific timeframe. Please use a valid date time format (**ISO 8601** for instance). '
          required: false
          schema:
            type: string
            format: date-time
            example: '2019-01-10T11:47:53.123Z'
        - name: scheduled_date_from
          in: query
          description: 'Transfers can be filtered by their `scheduled_date` property. This filter can be used in combination with the `scheduled_date_to` query parameter to get transfers scheduled within a specific timeframe. Please use a valid date time format (**ISO 8601** for instance). '
          required: false
          schema:
            type: string
            format: date
            example: '2019-01-10'
        - name: scheduled_date_to
          in: query
          description: 'Transfers can be filtered by their `scheduled_date` property. This filter can be used in combination with the `scheduled_date_from` query parameter to get transfers scheduled within a specific timeframe. Please use a valid date time format (**ISO 8601** for instance). '
          required: false
          schema:
            type: string
            format: date
            example: '2019-01-10'
        - name: beneficiary_ids[]
          in: query
          description: Transfers can be filtered by their `beneficiary_id`. You can provide a list of ids.
          schema:
            type: array
            items:
              type: string
              format: uuid
        - name: sort_by
          in: query
          description: 'Transfers can be sorted by their `scheduled_date` / `updated_at` property in 2 possible orders: `asc` (Ascending) / `desc` (Descending).'
          schema:
            type: string
            enum:
              - updated_at:asc
              - updated_at:desc
              - scheduled_date:asc
              - scheduled_date:desc
            format: property:order
            default: updated_at:desc
        - name: ids
          in: query
          description: Transfers can be filtered by their `id`. You can provide a list of ids.
          schema:
            type: array
            items:
              type: string
              format: uuid
        - name: recurring_transfer_ids
          in: query
          description: Transfers can be filtered by the Recurring Transfer that created them.
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: List of SEPA transfers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - transfers
                  - meta
                properties:
                  transfers:
                    type: array
                    items:
                      $ref: '#/components/schemas/SepaTransfer'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          description: Forbidden
          $ref: '#/components/responses/403-Forbidden'
    post:
      tags:
        - SEPA Transfers
      summary: Create a SEPA transfer
      description: |
        OAuth scope: `payment.write`

        This operation requires [Strong Customer Authentication](/api-reference/business-api/authentication/sca/sca-flows) unless the [beneficiary is trusted](/api-reference/business-api/payments-transfers/sepa-transfers/beneficiaries/sepa-beneficiaries/trust). 

        <Note>
          Example of SCA usage: [Postman visual flow](https://www.postman.com/qontoteam/workspace/qonto-public-api/flow/6670429eb7bd63003156bd57)
        </Note>

        Creates a new SEPA transfer for a beneficiary. You can either provide a `beneficiary_id` for a known beneficiary or `beneficiary` data which will create an untrusted beneficiary on the fly.

        **Note**:
        - if a beneficiary with the same IBAN already exists, the provided details (such as name) will be updated;
        - this endpoint is not trusting the beneficiary - you can trust a beneficiary through the Qonto app (for more details, please refer to [this article](https://support-de.qonto.com/hc/en-us/articles/23949206250641-How-can-I-mark-a-payee-as-trustworthy#h_925061f25d)) or through [this endpoint](/api-reference/business-api/payments-transfers/sepa-transfers/beneficiaries/sepa-beneficiaries/trust) (available for Embed partners only).

        For transfers above 30,000 EUR, at least one attachment is required.

        By default, the transfer will be processed as **instant**. If instant processing isn't possible, it will automatically fall back to standard processing. It will be the case if the amount of the transfer is above the following thresholds 👇
        <AccordionGroup>
          <Accordion title="Untrusted beneficiary">
            - The transfer is above 5,000 EUR;
            - More than 20,000 EUR have been sent to this beneficairy within 24 hours.
          </Accordion>
          <Accordion title="Trusted beneficiary">
            - The transfer is above 10,000 EUR;
            - More than 50,000 EUR have been sent to this beneficairy within 24 hours.
          </Accordion>
        </AccordionGroup>

        To learn more about instant transfers, please read [this article](https://support-fr.qonto.com/hc/en-us/articles/23947629441681-How-to-make-an-instant-transfer-in-euros-SEPA).
      operationId: createSepaTransfer
      security:
        - OAuth:
            - payment.write
      parameters:
        - $ref: '#/components/parameters/X-Qonto-2fa-Preference'
        - $ref: '#/components/parameters/X-Qonto-Idempotency-Key'
        - $ref: '#/components/parameters/X-Qonto-Sca-Session-Token'
        - $ref: '#/components/parameters/X-Qonto-MFA'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSepaTransferRequest'
            examples:
              valid:
                value:
                  vop_proof_token: proof_1234567890abcdef
                  transfer:
                    beneficiary_id: 66b7e300-0126-4905-9688-27b445a48c4e
                    bank_account_id: 420e13ac-9d3e-4c11-93a1-0c3c8304f2df
                    reference: Lease payment
                    amount: '1100.50'
                    note: Lease payment for offices in Paris
                    attachment_ids:
                      - 394f77f1-0d2c-46fb-8a7e-a959dbdeee63
                    scheduled_date: '2026-01-11'
      responses:
        '200':
          description: SEPA transfer created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - transfer
                properties:
                  transfer:
                    $ref: '#/components/schemas/SepaTransfer'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-Bad-request'
              examples:
                reference is missing:
                  value:
                    errors:
                      - code: missing_key
                        detail: reference is missing
                        source:
                          pointer: /transfer/reference
                amount is missing:
                  value:
                    errors:
                      - code: missing_key
                        detail: amount is missing
                        source:
                          pointer: /transfer/amount
                with invalid amount:
                  value:
                    errors:
                      - code: invalid
                        detail: amount must be greater than 0
                        source:
                          pointer: /transfer/amount
                Not enough funds in the account:
                  value:
                    errors:
                      - code: insufficient_funds
                        detail: The account has insufficient funds
                        source:
                          pointer: /transfer/bank_account_id
                attachment_id cannot be found:
                  value:
                    errors:
                      - code: not_found
                        detail: Attachment not found id=6cc7f2dd-ea0d-4cc2-ba30-f3e1ce0a8eb4
                        source:
                          pointer: /transfer/attachment_ids/1
                attachment_ids exceeds max limit:
                  value:
                    errors:
                      - code: above_max_size
                        detail: attachment_ids cannot be greater than 5
                        source:
                          pointer: /transfer/attachment_ids
                amount above 30000 EUR:
                  value:
                    errors:
                      - code: attachment_required
                        detail: The transfer must have at least one attachment
                        source:
                          pointer: /transfer/attachment_ids
                with unknown beneficiary:
                  value:
                    errors:
                      - code: beneficiary_not_found
                        detail: Beneficiary with id=66b7e300-0126-4905-9688-27b445a48c4e not found
                        source:
                          pointer: /transfer/beneficiary_id
                with unknown bank account:
                  value:
                    errors:
                      - code: bank_account_not_found
                        detail: BankAccount with id=420e13ac-9d3e-4c11-93a1-0c3c8304f2df not found
                        source:
                          pointer: /transfer/bank_account_id
                with an internal transfer:
                  value:
                    errors:
                      - code: transfer_to_same_organization
                        detail: The beneficiary bank account belongs to the same organization. Please use our internal transfers endpoints instead.
                        source:
                          pointer: /transfer/beneficiary_id
                invalid or missing vop proof token:
                  value:
                    errors:
                      - code: invalid_vop_proof_token
                        detail: vop_proof_token is required and must be valid
                        source:
                          pointer: /vop_proof_token
        '401':
          description: Unauthorized
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          description: Forbidden
          $ref: '#/components/responses/403-Forbidden'
  /v2/sepa/verify_payee:
    post:
      tags:
        - SEPA Transfers
      summary: Verify a SEPA payee
      description: |
        OAuth scope: `payment.write`

        Verifies payee information by matching IBAN and beneficiary name for internal and external accounts.
        Returns a match result indicating whether the provided information matches
        the account holder's details. In the case of close matches, the matched name is returned.

        <Tip>
          You can also use the [Sandbox environment](/api-reference/business-api/payments-transfers/sepa-transfers/introduction#testing-with-sandbox) to test the endpoint with mocked IBANs.
        </Tip>
      operationId: verifyPayee
      security:
        - OAuth:
            - payment.write
      parameters:
        - $ref: '#/components/parameters/X-Qonto-Staging-Token'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - iban
                - beneficiary_name
              properties:
                iban:
                  type: string
                  description: IBAN of the beneficiary account to be verified
                  example: FR7610002006000000141790000
                  pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{4}[0-9]{7}([A-Z0-9]?){0,16}$
                beneficiary_name:
                  type: string
                  description: Name of the beneficiary to verify against the account
                  example: John Doe
                  minLength: 1
                  maxLength: 140
            examples:
              basic_verification:
                summary: Basic payee verification
                value:
                  iban: FR7610002006000000141790000
                  beneficiary_name: Default Match Person
      responses:
        '200':
          description: Verification completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  match_result:
                    type: string
                    description: Result of the payee verification
                    enum:
                      - MATCH_RESULT_MATCH
                      - MATCH_RESULT_NO_MATCH
                      - MATCH_RESULT_CLOSE_MATCH
                      - MATCH_RESULT_NOT_POSSIBLE
                      - MATCH_RESULT_UNSPECIFIED
                    example: MATCH_RESULT_MATCH
                  matched_name:
                    type: string
                    description: The actual name associated with the account (present for close matches)
                    example: Jon Jones
                    nullable: true
                  proof_token:
                    type: object
                    description: Token representing proof of a verification attempt. This token is valid for 23 hours to initiate a transfer. This limit might change depending on further security considerations.
                    properties:
                      token:
                        type: string
                        description: The proof token value. This token is valid for 23 hours to initiate a transfer. This limit might change depending on further security considerations.
                        example: proof_1234567890abcdef
                    required:
                      - token
              examples:
                match_result:
                  summary: Exact match found
                  value:
                    match_result: MATCH_RESULT_MATCH
                    proof_token:
                      token: proof_1234567890abcdef
                close_match_result:
                  summary: Close match found
                  value:
                    match_result: MATCH_RESULT_CLOSE_MATCH
                    matched_name: Jon Jones
                    proof_token:
                      token: proof_1234567890abcdef
                no_match_result:
                  summary: No match found
                  value:
                    match_result: MATCH_RESULT_NO_MATCH
                    proof_token:
                      token: proof_1234567890abcdef
                not_possible_result:
                  summary: |
                    The match result is not possible due to some error or condition.
                    This could happen if the responding PSP does not support name verification, or if it could not confirm
                    or deny the match for any reason.
                  value:
                    match_result: MATCH_RESULT_NOT_POSSIBLE
                    proof_token:
                      token: proof_1234567890abcdef
        '400':
          description: Bad request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      description: Error object for 400 Bad Request responses
                      properties:
                        id:
                          type: string
                          description: A unique identifier for this particular occurrence of the problem
                          example: 550e8400-e29b-41d4-a716-446655440000
                          nullable: true
                        status:
                          type: string
                          description: The HTTP status code applicable to this problem, expressed as a string value
                          enum:
                            - '400'
                          nullable: true
                        code:
                          type: string
                          description: Error code indicating the specific type of error for 400 responses
                          enum:
                            - BAD_REQUEST_ERROR_UNSPECIFIED
                            - BAD_REQUEST_ERROR_FORMAT
                            - BAD_REQUEST_ERROR_RESPONDING_BANK_NOT_AVAILABLE
                            - BAD_REQUEST_ERROR_5XX_RESPONDING_BANK
                            - BAD_REQUEST_ERROR_RESPONDING_BANK_INVALID_RESPONSE
                          nullable: true
                        title:
                          type: string
                          description: |
                            A short, human-readable summary of the problem that SHOULD NOT change from occurrence
                            to occurrence of the problem, except for purposes of localization
                          example: Invalid Request Format
                          nullable: true
                        detail:
                          type: string
                          description: |
                            A human-readable explanation specific to this occurrence of the problem.
                            Like title, this field's value can be localized
                          example: The request has an invalid format
                          nullable: true
                        source:
                          type: object
                          description: Source objects provide references to the source of an error in the request document
                          properties:
                            pointer:
                              type: string
                              description: |
                                A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                                This MUST point to a value in the request document that exists
                              example: /data/attributes/iban
                              nullable: true
                            parameter:
                              type: string
                              description: A string indicating which URI query parameter caused the error
                              example: page
                              nullable: true
                            header:
                              type: string
                              description: A string indicating the name of a single request header which caused the error
                              example: Authorization
                              nullable: true
                          additionalProperties: false
                        meta:
                          type: object
                          description: An object containing non-standard meta-information about the error
                          additionalProperties: true
                          nullable: true
                      additionalProperties: false
                    minItems: 1
              examples:
                bad_request:
                  summary: Invalid response from responding bank
                  value:
                    errors:
                      - code: BAD_REQUEST_ERROR_RESPONDING_BANK_INVALID_RESPONSE
                        status: '400'
                        detail: Invalid response received from the responding bank
                        source:
                          parameter: source
                        meta:
                          proof_token:
                            token: proof_1234567890abcdef
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      description: Error object for 500 Internal Server Error responses
                      properties:
                        id:
                          type: string
                          description: A unique identifier for this particular occurrence of the problem
                          example: 550e8400-e29b-41d4-a716-446655440000
                          nullable: true
                        status:
                          type: string
                          description: The HTTP status code applicable to this problem, expressed as a string value
                          enum:
                            - '500'
                          nullable: true
                        code:
                          type: string
                          description: Error code indicating the specific type of error for 500 responses
                          enum:
                            - INTERNAL_SERVER_ERROR_UNSPECIFIED
                            - INTERNAL_SERVER_ERROR_4XX_RESPONDING_BANK
                          nullable: true
                        title:
                          type: string
                          description: |
                            A short, human-readable summary of the problem that SHOULD NOT change from occurrence
                            to occurrence of the problem, except for purposes of localization
                          example: Invalid Request Format
                          nullable: true
                        detail:
                          type: string
                          description: |
                            A human-readable explanation specific to this occurrence of the problem.
                            Like title, this field's value can be localized
                          example: The request has an invalid format
                          nullable: true
                        source:
                          type: object
                          description: Source objects provide references to the source of an error in the request document
                          properties:
                            pointer:
                              type: string
                              description: |
                                A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                                This MUST point to a value in the request document that exists
                              example: /data/attributes/iban
                              nullable: true
                            parameter:
                              type: string
                              description: A string indicating which URI query parameter caused the error
                              example: page
                              nullable: true
                            header:
                              type: string
                              description: A string indicating the name of a single request header which caused the error
                              example: Authorization
                              nullable: true
                          additionalProperties: false
                        meta:
                          type: object
                          description: An object containing non-standard meta-information about the error
                          additionalProperties: true
                          nullable: true
                      additionalProperties: false
                    minItems: 1
              examples:
                responding_bank_error:
                  summary: Internal server error - responding bank error
                  value:
                    errors:
                      - code: INTERNAL_SERVER_ERROR_4XX_RESPONDING_BANK
                        status: '500'
                        detail: 4xx error from responding bank
                        source:
                          parameter: source
                        meta:
                          proof_token:
                            token: proof_1234567890abcdef
                unspecified_error:
                  summary: Internal server error - unspecified error
                  value:
                    errors:
                      - code: INTERNAL_SERVER_ERROR_UNSPECIFIED
                        status: '500'
                        detail: An internal server error occurred
        '501':
          description: Feature not implemented
          content:
            application/json:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      description: Error object for 501 Not Implemented responses
                      properties:
                        id:
                          type: string
                          description: A unique identifier for this particular occurrence of the problem
                          example: 550e8400-e29b-41d4-a716-446655440000
                          nullable: true
                        status:
                          type: string
                          description: The HTTP status code applicable to this problem, expressed as a string value
                          enum:
                            - '501'
                          nullable: true
                        code:
                          type: string
                          description: Error code indicating the specific type of error for 501 responses
                          enum:
                            - NOT_IMPLEMENTED_ERROR_UNSPECIFIED
                            - NOT_IMPLEMENTED_ERROR_FEATURE_NOT_AVAILABLE
                          nullable: true
                        title:
                          type: string
                          description: |
                            A short, human-readable summary of the problem that SHOULD NOT change from occurrence
                            to occurrence of the problem, except for purposes of localization
                          example: Invalid Request Format
                          nullable: true
                        detail:
                          type: string
                          description: |
                            A human-readable explanation specific to this occurrence of the problem.
                            Like title, this field's value can be localized
                          example: The request has an invalid format
                          nullable: true
                        source:
                          type: object
                          description: Source objects provide references to the source of an error in the request document
                          properties:
                            pointer:
                              type: string
                              description: |
                                A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                                This MUST point to a value in the request document that exists
                              example: /data/attributes/iban
                              nullable: true
                            parameter:
                              type: string
                              description: A string indicating which URI query parameter caused the error
                              example: page
                              nullable: true
                            header:
                              type: string
                              description: A string indicating the name of a single request header which caused the error
                              example: Authorization
                              nullable: true
                          additionalProperties: false
                        meta:
                          type: object
                          description: An object containing non-standard meta-information about the error
                          additionalProperties: true
                          nullable: true
                      additionalProperties: false
                    minItems: 1
              examples:
                not_implemented:
                  summary: Feature not available
                  value:
                    errors:
                      - code: NOT_IMPLEMENTED_ERROR_FEATURE_NOT_AVAILABLE
                        status: '501'
                        detail: The requested feature is not available
                        source:
                          parameter: source
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      description: Error object for 504 Gateway Timeout responses
                      properties:
                        id:
                          type: string
                          description: A unique identifier for this particular occurrence of the problem
                          example: 550e8400-e29b-41d4-a716-446655440000
                          nullable: true
                        status:
                          type: string
                          description: The HTTP status code applicable to this problem, expressed as a string value
                          enum:
                            - '504'
                          nullable: true
                        code:
                          type: string
                          description: Error code indicating the specific type of error for 504 responses
                          enum:
                            - GATEWAY_TIMEOUT_ERROR_UNSPECIFIED
                            - GATEWAY_TIMEOUT_ERROR_RESPONDING_BANK
                          nullable: true
                        title:
                          type: string
                          description: |
                            A short, human-readable summary of the problem that SHOULD NOT change from occurrence
                            to occurrence of the problem, except for purposes of localization
                          example: Invalid Request Format
                          nullable: true
                        detail:
                          type: string
                          description: |
                            A human-readable explanation specific to this occurrence of the problem.
                            Like title, this field's value can be localized
                          example: The request has an invalid format
                          nullable: true
                        source:
                          type: object
                          description: Source objects provide references to the source of an error in the request document
                          properties:
                            pointer:
                              type: string
                              description: |
                                A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                                This MUST point to a value in the request document that exists
                              example: /data/attributes/iban
                              nullable: true
                            parameter:
                              type: string
                              description: A string indicating which URI query parameter caused the error
                              example: page
                              nullable: true
                            header:
                              type: string
                              description: A string indicating the name of a single request header which caused the error
                              example: Authorization
                              nullable: true
                          additionalProperties: false
                        meta:
                          type: object
                          description: An object containing non-standard meta-information about the error
                          additionalProperties: true
                          nullable: true
                      additionalProperties: false
                    minItems: 1
              examples:
                timeout:
                  summary: Gateway timeout from responding bank
                  value:
                    errors:
                      - code: GATEWAY_TIMEOUT_ERROR_RESPONDING_BANK
                        status: '504'
                        detail: Timeout occurred while contacting the responding bank
                        source:
                          parameter: source
                        meta:
                          proof_token:
                            token: proof_1234567890abcdef
  /v2/sepa/bulk_verify_payee:
    post:
      tags:
        - SEPA Transfers
      summary: Bulk verify SEPA payees
      description: |
        OAuth scope: `payment.write`

        Verifies multiple payees information by matching IBAN and beneficiary name for each request.
        Returns match results for each verification request, including success responses and error codes
        for failed verifications. This endpoint allows processing multiple payee verifications in a single request.
        <Tip>
          You can also use the [Sandbox environment](/api-reference/business-api/payments-transfers/sepa-transfers/introduction#testing-with-sandbox) to test the endpoint with mocked IBANs.
        </Tip>
      operationId: bulkVerifyPayee
      security:
        - OAuth:
            - payment.write
      parameters:
        - $ref: '#/components/parameters/X-Qonto-Staging-Token'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkVerifyPayeeRequest'
            examples:
              bulk_verification:
                summary: Bulk payee verification request
                value:
                  requests:
                    - id: req_001
                      beneficiary_name: John Doe
                      iban: FR1420041010050500013M02606
                    - id: req_002
                      beneficiary_name: Jane Smith
                      iban: GB82WEST12345698765432
                    - id: req_003
                      beneficiary_name: ACME Corp
                      iban: DE89370400440532013000
      responses:
        '200':
          description: Bulk verification completed (may contain mixed success/error results)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkVerifyPayeeResponse'
              examples:
                mixed_results:
                  summary: Mixed results with success and errors
                  value:
                    proof_token:
                      token: proof_1234567890abcdef
                    requests:
                      - id: req_001
                        response:
                          match_result: MATCH_RESULT_MATCH
                      - id: req_002
                        response:
                          match_result: MATCH_RESULT_CLOSE_MATCH
                          matched_name: J. Smith
                      - id: req_003
                        error_code: SINGLE_REQUEST_ERROR_CODE_BAD_REQUEST_ERROR_RESPONDING_BANK_NOT_AVAILABLE
        '400':
          description: Bad request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/400-Verify-Payee-BadRequestError'
                    minItems: 1
              examples:
                bad_request:
                  summary: Invalid request format
                  value:
                    errors:
                      - code: BAD_REQUEST_ERROR_FORMAT
                        status: '400'
                        detail: Repeated ID in requests
                        source:
                          parameter: requests
                        meta:
                          proof_token:
                            token: proof_1234567890abcdef
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/500-Verify-Payee-InternalServerError'
                    minItems: 1
              examples:
                responding_bank_error:
                  summary: Internal server error - responding bank error
                  value:
                    errors:
                      - code: INTERNAL_SERVER_ERROR_4XX_RESPONDING_BANK
                        status: '500'
                        detail: Responding bank returned an unexpected error
                        meta:
                          proof_token:
                            token: proof_1234567890abcdef
                unspecified_error:
                  summary: Internal server error - unspecified error
                  value:
                    errors:
                      - code: INTERNAL_SERVER_ERROR_UNSPECIFIED
                        status: '500'
                        detail: An internal server error occurred
        '501':
          description: Feature not implemented
          content:
            application/json:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/501-Verify-Payee-NotImplementedError'
                    minItems: 1
              examples:
                not_implemented:
                  summary: Feature not available
                  value:
                    errors:
                      - code: NOT_IMPLEMENTED_ERROR_FEATURE_NOT_AVAILABLE
                        status: '501'
                        detail: Bulk verification feature is not available
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/504-Verify-Payee-GatewayTimeoutError'
                    minItems: 1
              examples:
                timeout:
                  summary: Gateway timeout from responding bank
                  value:
                    errors:
                      - code: GATEWAY_TIMEOUT_ERROR_RESPONDING_BANK
                        status: '504'
                        detail: Timeout occurred while contacting the responding bank
                        meta:
                          proof_token:
                            token: proof_1234567890abcdef
  /v2/sepa/skip_verify_payee:
    post:
      tags:
        - SEPA Transfers
      summary: Skip SEPA payee verification
      description: |
        OAuth scope: `payment.write`

        Skips payee verification for the provided requests. This endpoint is used to opt-out from payee verification in case of bulk transfers.
        The request data is stored for audit and tracking purposes only and no actual verification is performed.
        <Tip>
          You can also use the [Sandbox environment](/api-reference/business-api/payments-transfers/sepa-transfers/introduction#testing-with-sandbox) to test the endpoint with mocked IBANs.
        </Tip>
      operationId: skipVerifyPayee
      security:
        - OAuth:
            - payment.write
      parameters:
        - $ref: '#/components/parameters/X-Qonto-Staging-Token'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkipVerifyPayeeRequest'
            examples:
              skip_verification:
                summary: Skip payee verification request
                value:
                  requests:
                    - id: req_001
                      beneficiary_name: John Doe
                      iban: FR1420041010050500013M02606
                    - id: req_002
                      beneficiary_name: Jane Smith
                      iban: GB82WEST12345698765432
      responses:
        '200':
          description: Skip verification request processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkipVerifyPayeeResponse'
              examples:
                success:
                  summary: Successful skip verification
                  value:
                    proof_token:
                      token: proof_1234567890abcdef
        '400':
          description: Bad request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/400-Verify-Payee-BadRequestError'
                    minItems: 1
              examples:
                bad_request:
                  summary: Invalid request format
                  value:
                    errors:
                      - code: BAD_REQUEST_ERROR_FORMAT
                        status: '400'
                        detail: Repeated ID in requests
                        meta:
                          proof_token:
                            token: proof_1234567890abcdef
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/500-Verify-Payee-InternalServerError'
                    minItems: 1
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    errors:
                      - code: INTERNAL_SERVER_ERROR_UNSPECIFIED
                        status: '500'
                        detail: An internal server error occurred
                        meta:
                          proof_token:
                            token: proof_1234567890abcdef
        '501':
          description: Feature not implemented
          content:
            application/json:
              schema:
                type: object
                required:
                  - errors
                properties:
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/501-Verify-Payee-NotImplementedError'
                    minItems: 1
              examples:
                not_implemented:
                  summary: Feature not available
                  value:
                    errors:
                      - code: NOT_IMPLEMENTED_ERROR_FEATURE_NOT_AVAILABLE
                        status: '501'
                        detail: Skip verification feature is not available
  /v2/sepa/recurring_transfers/{id}/cancel:
    post:
      tags:
        - SEPA Transfers
      summary: Cancel SEPA recurring transfer
      description: |-
        OAuth scope: `payment.write`

        Cancels a specific SEPA recurring transfer. No further payments will be made after the transfer is cancelled.
      operationId: cancelSepaRecurringTransfer
      security:
        - OAuth:
            - payment.write
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID of the SEPA recurring transfer
      responses:
        '204':
          description: SEPA recurring transfer successfully cancelled
          content:
            application/json:
              schema:
                type: object
                required:
                  - recurring_transfer
                properties:
                  recurring_transfer:
                    $ref: '#/components/schemas/SepaRecurringTransfer'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-Bad-request'
              examples:
                when recurring transfer cannot be cancelled:
                  value:
                    errors:
                      - code: cannot_cancel
                        detail: The recurring transfer cannot be cancelled
                        source:
                          parameter: id
        '401':
          description: Unauthorized
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          description: Forbidden
          $ref: '#/components/responses/403-Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404-Not-Found'
              examples:
                not_found:
                  value:
                    errors:
                      - code: not_found
                        detail: Recurring transfer not found
                        source:
                          parameter: id
  /v2/sepa/recurring_transfers/{id}:
    parameters:
      - $ref: '#/components/parameters/X-Qonto-Staging-Token'
    get:
      tags:
        - SEPA Transfers
      summary: Get SEPA recurring transfer
      description: |
        OAuth scope: `organization.read`

        Retrieves a specific SEPA recurring transfer by ID.
      operationId: getSepaRecurringTransfer
      security:
        - OAuth:
            - organization.read
        - SecretKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID of the SEPA recurring transfer
      responses:
        '200':
          description: SEPA recurring transfer retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - recurring_transfer
                properties:
                  recurring_transfer:
                    $ref: '#/components/schemas/SepaRecurringTransfer'
        '401':
          description: Unauthorized
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          description: Forbidden
          $ref: '#/components/responses/403-Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404-Not-Found'
              examples:
                not_found:
                  value:
                    errors:
                      - code: not_found
                        detail: SEPA recurring transfer not found
                        source:
                          parameter: id
  /v2/sepa/recurring_transfers:
    parameters:
      - $ref: '#/components/parameters/X-Qonto-Staging-Token'
    get:
      tags:
        - SEPA Transfers
      summary: List SEPA recurring transfers
      description: |
        OAuth scope: `organization.read`

        Retrieves a list of all SEPA recurring transfers. The list is ordered by updated_at in descending order.
      operationId: listSepaRecurringTransfers
      security:
        - OAuth:
            - organization.read
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPerPage'
      responses:
        '200':
          description: List of SEPA recurring transfers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - recurring_transfers
                  - meta
                properties:
                  recurring_transfers:
                    type: array
                    items:
                      $ref: '#/components/schemas/SepaRecurringTransfer'
                  meta:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Unauthorized
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          description: Forbidden
          $ref: '#/components/responses/403-Forbidden'
    post:
      tags:
        - SEPA Transfers
      summary: Create a SEPA recurring transfer
      description: |
        OAuth scope: `payment.write`

        This operation requires [Strong Customer Authentication](/api-reference/business-api/authentication/sca/sca-flows).

        <Note>
          Example of SCA usage: [Postman visual flow](https://www.postman.com/qontoteam/workspace/qonto-public-api/flow/6670429eb7bd63003156bd57)
        </Note>

        Creates a new SEPA recurring transfer for a beneficiary. You can either provide a `beneficiary_id` for a known beneficiary or `beneficiary` data which will create an untrusted beneficiary on the fly.

        **Note**:
        - if a beneficiary with the same IBAN already exists, the provided details (such as name) will be updated;
        - this endpoint is not trusting the beneficiary - you can trust a beneficiary through the Qonto app (for more details, please refer to [this article](https://support-de.qonto.com/hc/en-us/articles/23949206250641-How-can-I-mark-a-payee-as-trustworthy#h_925061f25d)) or through [this endpoint](/api-reference/business-api/payments-transfers/sepa-transfers/beneficiaries/sepa-beneficiaries/trust) (available for Embed partners only).

        The subsequent transfer will be executed according to the specified frequency between the first and last execution dates. If no last execution date is provided the transfer will be executed indefinitely.

        For recurring transfers above 30,000 EUR, at least one attachment is required.
      operationId: createSepaRecurringTransfer
      security:
        - OAuth:
            - payment.write
      parameters:
        - $ref: '#/components/parameters/X-Qonto-2fa-Preference'
        - $ref: '#/components/parameters/X-Qonto-Idempotency-Key'
        - $ref: '#/components/parameters/X-Qonto-Sca-Session-Token'
        - $ref: '#/components/parameters/X-Qonto-MFA'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSepaRecurringTransferRequest'
            examples:
              valid:
                value:
                  vop_proof_token: proof_1234567890abcdef
                  recurring_transfer:
                    beneficiary_id: 66b7e300-0126-4905-9688-27b445a48c4e
                    bank_account_id: 420e13ac-9d3e-4c11-93a1-0c3c8304f2df
                    reference: Lease payment
                    amount: '1100.50'
                    frequency: monthly
                    first_execution_date: '2025-04-22'
                    last_execution_date: '2026-08-21'
                    note: Lease payment for offices in Paris
                    attachment_ids:
                      - 394f77f1-0d2c-46fb-8a7e-a959dbdeee63
      responses:
        '200':
          description: SEPA recurring transfer created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - recurring_transfer
                properties:
                  recurring_transfer:
                    $ref: '#/components/schemas/SepaRecurringTransfer'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-Bad-request'
              examples:
                with invalid dates:
                  value:
                    errors:
                      - code: invalid_date_after_reference
                        detail: first_execution_date must be before last_execution_date
                        source:
                          pointer: /recurring_transfer/first_execution_date
                with invalid amount:
                  value:
                    errors:
                      - code: invalid
                        detail: amount must be greater than 0
                        source:
                          pointer: /recurring_transfer/amount
                with recurring transfer amount above 30000 EUR:
                  value:
                    errors:
                      - code: attachment_required
                        detail: The recurring transfer must have at least one attachment
                        source:
                          pointer: /recurring_transfer/attachment_ids
                with unknown beneficiary:
                  value:
                    errors:
                      - code: beneficiary_not_found
                        detail: Beneficiary with id=66b7e300-0126-4905-9688-27b445a48c4e not found
                        source:
                          pointer: /recurring_transfer/beneficiary_id
                with unknown bank account:
                  value:
                    errors:
                      - code: bank_account_not_found
                        detail: BankAccount with id=420e13ac-9d3e-4c11-93a1-0c3c8304f2df not found
                        source:
                          pointer: /recurring_transfer/bank_account_id
                with an internal transfer:
                  value:
                    errors:
                      - code: transfer_to_same_organization
                        detail: The beneficiary bank account belongs to the same organization. Please use our internal transfers endpoints instead.
                        source:
                          pointer: /recurring_transfer/beneficiary_id
                invalid or missing vop proof token:
                  value:
                    errors:
                      - code: invalid_vop_proof_token
                        detail: vop_proof_token is required and must be valid
                        source:
                          pointer: /vop_proof_token
        '401':
          description: Unauthorized
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          description: Forbidden
          $ref: '#/components/responses/403-Forbidden'
  /v2/bank_accounts:
    get:
      tags:
        - Business Accounts
      summary: List business accounts
      description: |-
        OAuth scope: `organization.read`

        Retrieves a list of all business accounts.

        You can use this endpoint when you need to display account details of all business accounts.

        ### Restricted Fields

        Full details of a business account are restricted to users with specific permissions ([more on permissions](https://support-fr.qonto.com/hc/en-us/articles/23947722927249-What-are-the-different-roles-available)). **Owners and admins can access all fields.** Other users, such as managers, will only see a limited set of fields unless granted the appropriate permissions.

        **Fields Available to All Users**:
        - `id`
        - `name`
        - `status`
        - `main`
        - `organization_id`

        **Fields Available to Users with Balance Authorization Read**:
        - `currency`
        - `balance`
        - `balance_cents`
        - `authorized_balance`
        - `authorized_balance_cents`

        Depending on the user's permissions, the corresponding fields will be included in the response.
      operationId: listBusinessAccounts
      security:
        - OAuth:
            - organization.read
      parameters:
        - $ref: '#/components/parameters/X-Qonto-Staging-Token'
        - name: page
          in: query
          required: false
          description: Page number for pagination. Must be greater than 0.
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          required: false
          description: Number of business accounts per page. Must be between 1 and 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        '200':
          description: List of business accounts retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - bank_accounts
                properties:
                  bank_accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/BankAccount'
        '403':
          $ref: '#/components/responses/403-Forbidden'
    post:
      tags:
        - Business Accounts
      summary: Create a business account
      description: |-
        OAuth scope: `bank_account.write`

        Creates a new business account.

        A business account allows you to receive funds, make payments, and manage your finances. Each business account has its own IBAN and balance, and can be used for a variety of banking operations.

        You can create multiple business accounts and name them based on your business needs (e.g., Primary Account, Project ABC, Tax Pots). This flexibility helps you organize your finances and allocate funds for specific purposes.
      operationId: createBusinessAccount
      security:
        - OAuth:
            - bank_account.write
      parameters:
        - $ref: '#/components/parameters/X-Qonto-Staging-Token'
        - $ref: '#/components/parameters/X-Qonto-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - bank_account
              properties:
                bank_account:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
                      example: Secondary business account
                      description: Name of the business account
      responses:
        '200':
          description: Business account created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - bank_account
                properties:
                  bank_account:
                    $ref: '#/components/schemas/BankAccount'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-Bad-request'
              examples:
                blank_name:
                  value:
                    errors:
                      - code: blank_name
                        detail: Name can't be blank
                too_long_name:
                  value:
                    errors:
                      - code: too_long_name
                        detail: Name is too long (maximum is 300 characters)
                current_bank_accounts_limit:
                  value:
                    errors:
                      - code: current_bank_accounts_limit
                        detail: Number of bank accounts exceeds the maximum limit
                bank_accounts_limit:
                  value:
                    errors:
                      - code: bank_accounts_limit
                        detail: You have reached the maximum number of bank accounts allowed for your plan
                idempotency_header_missing:
                  value:
                    errors:
                      - code: idempotency_header_missing
                        detail: Idempotency header is required
                        source:
                          header: X-Qonto-Idempotency-Key
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401-Unauthorized'
              examples:
                authorization_header_missing:
                  value:
                    errors:
                      - code: authorization_header_missing
                        detail: authorization header missing
                authorization_token_invalid:
                  value:
                    errors:
                      - code: authorization_token_invalid
                        detail: authorization token invalid
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403-Forbidden'
              examples:
                forbidden:
                  value:
                    errors:
                      - code: forbidden
                        detail: User does not have sufficient permissions for this action.
  /v2/bank_accounts/{id}:
    get:
      tags:
        - Business Accounts
      summary: Get a business account
      description: |-
        OAuth scope: `organization.read`

        Retrieves detailed information about a specific business account identified by its ID.

        It is useful for retrieving up-to-date information, including the current balance and authorized balance of the account.

        You can use this endpoint when you need to display account details or verify available funds before initiating a transfer.


        ### Restricted Fields

        Full details of a business account are restricted to users with specific permissions ([more on permissions](https://support-fr.qonto.com/hc/en-us/articles/23947722927249-What-are-the-different-roles-available)). **Owners and admins can access all fields.** Other users, such as managers, will only see a limited set of fields unless granted the appropriate permissions.

        **Fields Available to All Users**:
        - `id`
        - `name`
        - `status`
        - `main`
        - `organization_id`

        **Fields Available to Users with Balance Authorization Read**:
        - `currency`
        - `balance`
        - `balance_cents`
        - `authorized_balance`
        - `authorized_balance_cents`

        Depending on the user's permissions, the corresponding fields will be included in the response.
      operationId: getBusinessAccount
      security:
        - OAuth:
            - organization.read
      parameters:
        - $ref: '#/components/parameters/X-Qonto-Staging-Token'
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID of the business account to retrieve
      responses:
        '200':
          description: Business account retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - bank_account
                properties:
                  bank_account:
                    $ref: '#/components/schemas/BankAccount'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          description: Business account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-Bad-request'
              example:
                errors:
                  - code: not_found
                    detail: BankAccount not found
                    source:
                      parameter: id
    patch:
      tags:
        - Business Accounts
      summary: Update a business account
      description: |-
        OAuth scope: `bank_account.write`

        Updates the details of a specific business account identified by its ID. Currently, it supports only updating the account name.

        Business accounts can be named based on your needs (e.g., Primary Account, Project ABC, Tax Pots). This flexibility helps you organize your finances and allocate funds for specific purposes.
      operationId: updateBusinessAccount
      security:
        - OAuth:
            - bank_account.write
      parameters:
        - $ref: '#/components/parameters/X-Qonto-Staging-Token'
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID of the business account to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - bank_account
              properties:
                bank_account:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
                      example: Michael Scott
                      description: New name for the business account
      responses:
        '200':
          description: Business account updated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - bank_account
                properties:
                  bank_account:
                    $ref: '#/components/schemas/BankAccount'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-Bad-request'
              examples:
                not_a_string:
                  value:
                    errors:
                      - code: not_a_string
                        detail: name must be a string
                        source:
                          pointer: /name
                invalid_name:
                  value:
                    errors:
                      - code: invalid_name
                        detail: Name must present and up to 300 characters
                        source:
                          pointer: /name
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-Not-Found'
  /v2/bank_accounts/{id}/close:
    post:
      tags:
        - Business Accounts
      summary: Close a business account
      description: |-
        OAuth scope: `bank_account.write`

        Accessible only using [Strong Customer Authentication](/api-reference/business-api/authentication/sca/sca-flows).

        <Info>
          Example of SCA usage: [**Postman visual flow**](https://www.postman.com/qontoteam/workspace/qonto-public-api/flow/6670429eb7bd63003156bd57)
        </Info>

        Closes a specific business account identified by its ID.

        Once closed, the account can no longer be used for transactions. Before closing an account,
        ensure it has a zero balance and no pending transactions. The main account cannot be closed.

        **Restrictions:**
        - You cannot close your main account.
        - You cannot close an businesss account with a non-zero balance.
        - External businesss accounts cannot be closed through this API.
      operationId: closeBusinessAccount
      security:
        - OAuth:
            - bank_account.write
      parameters:
        - $ref: '#/components/parameters/X-Qonto-Staging-Token'
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID of the business account to close
        - name: X-Qonto-Sca-Session-Token
          in: header
          required: false
          schema:
            type: string
          description: SCA session token for strong customer authentication
        - name: X-Qonto-MFA
          in: header
          required: false
          schema:
            type: string
          description: MFA token for strong customer authentication
        - name: X-Qonto-2fa-Preference
          in: header
          required: false
          schema:
            type: string
          description: 2FA preference for the request
      responses:
        '200':
          description: Business account closed successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - bank_account
                properties:
                  bank_account:
                    $ref: '#/components/schemas/BankAccount'
        '400':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-Bad-request'
              examples:
                main_account:
                  value:
                    errors:
                      - code: main_account
                        detail: Cannot close main account
                balance_not_zero:
                  value:
                    errors:
                      - code: balance_not_zero
                        detail: Cannot close an account with money on it
                external_bank_account:
                  value:
                    errors:
                      - code: external_bank_account
                        detail: External bank accounts cannot be closed
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-Not-Found'
  /v2/bank_accounts/{id}/iban_certificate:
    get:
      tags:
        - Business Accounts
      summary: Download the IBAN certificate
      description: |-
        OAuth scope: `organization.read`

        Downloads the IBAN certificate for a specific business account identified by its ID.

        **Restrictions:**
        - The organization must complete all compliance checks.
        - The business account must be active.
        - Qonto cannot generate an IBAN certificate for an external businesss accounts.
      operationId: downloadBusinessAccountIbanCertificate
      security:
        - OAuth:
            - organization.read
        - SecretKey: []
      parameters:
        - $ref: '#/components/parameters/X-Qonto-Staging-Token'
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID of the business account to close
        - name: locale
          in: query
          required: false
          schema:
            type: string
            enum:
              - en
              - fr
              - it
              - de
              - es
              - pt
              - nl
            example: en
          description: The locale used for the IBAN certificate. If not specified, it defaults to the organization's country of registration.
      responses:
        '200':
          description: PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-Bad-request'
              examples:
                unsupported_locale:
                  value:
                    errors:
                      - code: not_included
                        detail: 'locale must be one of: en, fr, it, de, es, pt, nl'
                        source:
                          pointer: /locale
                pending_iban:
                  value:
                    errors:
                      - code: iban_generation_failed
                        detail: IBAN is not created
                kyb_not_accepted:
                  value:
                    errors:
                      - code: iban_generation_failed
                        detail: Organization is not KYB accepted
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-Not-Found'
  /v2/external_transfers:
    get:
      tags:
        - External Transfers (deprecated)
      deprecated: true
      summary: List external transfers
      description: |
        OAuth scope: `organization.read`.

        <Warning>
          This endpoint will be sunsetted on March 31, 2026.
          For SEPA transfers, please use the [List a SEPA Transfer](/api-reference/business-api/payments-transfers/sepa-transfers/sepa-transfers) endpoint instead.
        </Warning>

        Retrieves the list of external transfers for the authenticated organization.
      operationId: list_external_transfers
      responses:
        '200':
          description: Returns the list of external transfers for the authenticated organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  external_transfers:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExternalTransfer'
                required:
                  - external_transfers
        '400':
          $ref: '#/components/responses/400-Bad-request'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '500':
          $ref: '#/components/responses/500-Internal-Server-Error'
      security:
        - OAuth:
            - organization.read
        - SecretKey: []
    post:
      tags:
        - External Transfers (deprecated)
      deprecated: true
      summary: Create an external transfer for a trusted beneficiary
      description: |-
        OAuth scope: `payment.write`

        <Warning>
          This endpoint will be sunsetted on March 31, 2026.
          For SEPA transfers, please use the [Create a SEPA Transfer](/api-reference/business-api/payments-transfers/sepa-transfers/sepa-transfers/create) endpoint instead.
          The new endpoint works for both trusted and untrusted beneficiaries.
        </Warning>

        Creates a single external transfer for a given **trusted** beneficiary, without any user interaction required.

        The beneficiary must be trusted for the transfer to be created. The beneficiary can **only** be trusted through the Qonto app (for more details, please refer to [this article](https://support-fr.qonto.com/hc/en-us/articles/23947644174993-How-can-I-mark-a-payee-as-trustworthy#h_925061f25d)).

        By default, the transfer will be processed as **instant**. If instant processing isn't possible, it will automatically fall back to standard processing.
        It will be the case if the amount of the transfer is above the following thresholds:
          - The transfer is above 10,000 EUR;
          - More than 50,000 EUR have been sent to this beneficairy within 24 hours.

        To learn more about instant transfers, please read [this article](https://support-fr.qonto.com/hc/en-us/articles/23947629441681-How-to-make-an-instant-transfer-in-euros-SEPA).
      operationId: create_external_transfer
[...]
