openapi: 3.0.0
info:
  title: ZohoBooks API
  description: Merged OpenAPI spec for ZohoBooks API v3
  version: 3.0.0
servers:
  - url: https://www.zohoapis.com/books/v3
    description: API Endpoint
tags:
  - name: bank-accounts
    description: Bank-Accounts Module
  - name: bank-rules
    description: Bank-Rules Module
  - name: bank-transactions
    description: Bank-Transactions Module
  - name: base-currency-adjustment
    description: Base-Currency-Adjustment Module
  - name: bills
    description: Bills Module
  - name: chart-of-accounts
    description: Chart-Of-Accounts Module
  - name: contact-persons
    description: Contact-Persons Module
  - name: contacts
    description: Contacts Module
  - name: credit-notes
    description: Credit-Notes Module
  - name: currency
    description: Currency Module
  - name: custom-modules
    description: Custom Module Configuration
  - name: custom-module-records
    description: Custom Module Records
  - name: customer-debit-notes
    description: Customer Debit Notes Module
  - name: customer-payments
    description: Customer-Payments Module
  - name: delivery-challans
    description: Delivery Challans Module
  - name: estimates
    description: Estimates Module
  - name: expenses
    description: Expenses Module
  - name: fixed-assets
    description: Fixed-Assets Module
  - name: integration
    description: integration Module
  - name: invoices
    description: Invoices Module
  - name: items
    description: Items Module
  - name: journals
    description: Journals Module
  - name: locations
    description: Locations Module
  - name: opening-balance
    description: Opening-Balance Module
  - name: organizations
    description: Organizations Module
  - name: pricelists
    description: PriceLists Module
  - name: projects
    description: Projects Module
  - name: purchase-order
    description: Purchase-Order Module
  - name: recurring-bills
    description: Recurring-Bills Module
  - name: recurring-expenses
    description: Recurring-Expenses Module
  - name: recurring-invoices
    description: Recurring-Invoices Module
  - name: registers
    description: Registers Module
  - name: reporting-tags
    description: Reporting Tags Module
  - name: retainer-invoices
    description: Retainer-Invoices Module
  - name: sales-order
    description: Sales-Order Module
  - name: sales-receipt
    description: Sales Receipt Module
  - name: tasks
    description: Task Module
  - name: taxes
    description: Taxes Module
  - name: time-entries
    description: Time-Entries Module
  - name: transaction-locking
    description: Transaction-Locking Module
  - name: users
    description: Users Module
  - name: vendor-credits
    description: Vendor-Credits Module
  - name: vendor-payments
    description: Vendor-Payments Module
paths:
  /bankaccounts:
    x-mcp-group:
      - Bank Accounts
    post:
      tags:
        - bank-accounts
      operationId: create_bank_account
      summary: Create a bank account
      description: Create a bank account or a credit card account for your organization.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-a-bank-account-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-a-bank-account-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    get:
      tags:
        - bank-accounts
      operationId: list_bank_accounts
      summary: List view of accounts
      description: List all bank and credit card accounts for your organization.
      parameters:
        - name: filter_by
          in: query
          description: 'Filter the account by their status. Allowed Values: <code>Status.All</code>, <code>Status.Active</code> and <code>Status.Inactive</code>.'
          required: false
          schema:
            type: string
          example: Status.All
        - name: sort_column
          in: query
          description: 'Sort the values based on the allowed values. Allowed Values: <code>account_name</code>,<code>account_type</code> and <code>account_code</code>.'
          required: false
          schema:
            type: string
          example: account_name
        - name: page
          in: query
          description: Page number to be fetched. Default value is 1.
          required: false
          schema:
            type: integer
            default: 1
          example: 1
        - name: per_page
          in: query
          description: Number of records to be fetched per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-view-of-accounts-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}:
    x-mcp-group:
      - Bank Accounts
    put:
      tags:
        - bank-accounts
      operationId: update_bank_account
      summary: Update bank account
      description: Modify the account that was created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-bank-account-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-bank-account-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.UPDATE
    get:
      tags:
        - bank-accounts
      operationId: get_bank_account
      summary: Get account details
      description: Get a detailed look of the account specified.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-account-details-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    delete:
      tags:
        - bank-accounts
      operationId: delete_bank_account
      summary: Delete an account
      description: Delete a bank account from your organization.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-an-account-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.DELETE
    parameters:
      - name: account_id
        in: path
        required: true
        description: Unique identifier of the bank account.
        schema:
          type: string
        example: '460000000050127'
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/inactive:
    x-mcp-group:
      - Bank Accounts
    post:
      tags:
        - bank-accounts
      operationId: mark_bank_account_inactive
      summary: Deactivate account.
      description: Make an account inactive.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deactivate-account-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: account_id
        in: path
        required: true
        description: Unique identifier of the bank account.
        schema:
          type: string
        example: '460000000050127'
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/active:
    x-mcp-group:
      - Bank Accounts
    post:
      tags:
        - bank-accounts
      operationId: mark_bank_account_active
      summary: Activate account
      description: Make an account active.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activate-account-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: account_id
        in: path
        required: true
        description: Unique identifier of the bank account.
        schema:
          type: string
        example: '460000000050127'
      - $ref: '#/components/parameters/organization_id'
  /bankstatements:
    x-mcp-group:
      - Bank Accounts
    post:
      tags:
        - bank-accounts
      operationId: import_bank_statements
      summary: Import a Bank/Credit Card Statement
      description: Import your bank/credit card feeds into your account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/import-a-bankcredit-card-statement-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/import-a-bankcredit-card-statement-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/statement/lastimported:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bank-accounts
      operationId: get_last_imported_bank_statement
      summary: Get last imported statement
      description: Get the details of previously imported statement for the account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-last-imported-statement-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - name: account_id
        in: path
        required: true
        description: Unique identifier of the bank account.
        schema:
          type: string
        example: '460000000050127'
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/statement/{statement_id}:
    x-mcp-group:
      - Bank Accounts
    delete:
      tags:
        - bank-accounts
      operationId: delete_last_imported_bank_statement
      summary: Delete last imported statement
      description: Delete the statement that was previously imported.
      parameters:
        - name: statement_id
          in: path
          required: true
          description: Unique identifier of the bank statement.
          schema:
            type: string
          example: '460000000049013'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-last-imported-statement-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.DELETE
    parameters:
      - name: account_id
        in: path
        required: true
        description: Unique identifier of the bank account.
        schema:
          type: string
        example: '460000000050127'
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/reconciliations:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: list_bank_reconciliations
      summary: List bank reconciliations
      description: List the reconciliations of a bank account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-bank-reconciliations-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    post:
      tags:
        - bankaccounts
      operationId: create_bank_reconciliation
      summary: Create a bank reconciliation
      description: Reconcile the transactions of a bank account for a statement period.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-bank-reconciliation-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-bank-reconciliation-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/reconciliations/{reconciliation_id}:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: get_bank_reconciliation
      summary: Get a bank reconciliation
      description: Retrieve the details of a bank reconciliation.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-bank-reconciliation-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    put:
      tags:
        - bankaccounts
      operationId: update_bank_reconciliation
      summary: Update a bank reconciliation
      description: Update a bank reconciliation.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-bank-reconciliation-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-bank-reconciliation-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.UPDATE
    delete:
      tags:
        - bankaccounts
      operationId: delete_bank_reconciliation
      summary: Delete a bank reconciliation
      description: Delete a bank reconciliation.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-bank-reconciliation-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.DELETE
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - name: reconciliation_id
        in: path
        required: true
        description: 'Unique identifier of the reconciliation. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000099001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/reconciliations/{reconciliation_id}/draft:
    x-mcp-group:
      - Bank Accounts
    put:
      tags:
        - bankaccounts
      operationId: save_bank_reconciliation_draft
      summary: Save a bank reconciliation as draft
      description: Save the progress of a bank reconciliation as a draft.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-bank-reconciliation-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/save-bank-reconciliation-draft-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.UPDATE
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - name: reconciliation_id
        in: path
        required: true
        description: 'Unique identifier of the reconciliation. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000099001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/reconciliations/{reconciliation_id}/attachment:
    x-mcp-group:
      - Bank Accounts
    post:
      tags:
        - bankaccounts
      operationId: add_bank_reconciliation_attachment
      summary: Add a reconciliation attachment
      description: Attach a file to a bank reconciliation.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/add-bank-reconciliation-attachment-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - name: reconciliation_id
        in: path
        required: true
        description: 'Unique identifier of the reconciliation. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000099001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/reconciliations/{reconciliation_id}/documents/{document_id}:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: get_bank_reconciliation_document
      summary: Get a reconciliation document
      description: Retrieve a document attached to a bank reconciliation.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-bank-reconciliation-document-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    delete:
      tags:
        - bankaccounts
      operationId: delete_bank_reconciliation_document
      summary: Delete a reconciliation document
      description: Delete a document attached to a bank reconciliation.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-bank-reconciliation-document-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.DELETE
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - name: reconciliation_id
        in: path
        required: true
        description: 'Unique identifier of the reconciliation. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000099001
      - name: document_id
        in: path
        required: true
        description: 'Unique identifier of the document. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000123001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/balances:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: list_bank_account_balances
      summary: List bank account balances
      description: Retrieve the balances of all bank accounts.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-bank-account-balances-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/overview:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: get_bank_accounts_overview
      summary: Get bank accounts overview
      description: Retrieve an overview of all bank accounts.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-bank-accounts-overview-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/balance:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: get_bank_account_balance
      summary: Get a bank account balance
      description: Retrieve the balance of a bank account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-bank-account-balance-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/balances:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: get_bank_account_balances
      summary: Get bank account balances
      description: Retrieve the balance breakdown of a bank account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-bank-account-balances-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/insights:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: get_bank_account_insights
      summary: Get bank account insights
      description: Retrieve cash-flow insights for a bank account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-bank-account-insights-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/overview:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: get_bank_account_overview
      summary: Get a bank account overview
      description: Retrieve an overview of a bank account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-bank-account-overview-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/statementsummary:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: get_bank_account_statement_summary
      summary: Get a bank statement summary
      description: Retrieve the statement summary of a bank account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-bank-account-statement-summary-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/subaccounts:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: list_bank_account_subaccounts
      summary: List bank account sub-accounts
      description: List the sub-accounts of a bank account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-bank-account-subaccounts-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/statements:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: list_bank_account_statements
      summary: List bank account statements
      description: List the imported statements of a bank account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-bank-account-statements-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/statements/unreviewed:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: list_unreviewed_bank_statements
      summary: List unreviewed bank statements
      description: List the unreviewed statement transactions of a bank account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-unreviewed-bank-statements-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/transactions:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: list_bank_account_transactions
      summary: List bank account transactions
      description: List the transactions of a bank account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-bank-account-transactions-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/{account_id}/preferences:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: get_bank_account_preferences
      summary: Get bank account preferences
      description: Retrieve the preferences of a bank account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-bank-account-preferences-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    put:
      tags:
        - bankaccounts
      operationId: update_bank_account_preferences
      summary: Update bank account preferences
      description: Update the preferences of a bank account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-bank-account-preferences-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.settings.UPDATE
    parameters:
      - name: account_id
        in: path
        required: true
        description: 'Unique identifier of the bank account. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: 460000000004001
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/import/encryptionkey:
    x-mcp-group:
      - Bank Accounts
    get:
      tags:
        - bankaccounts
      operationId: get_bank_statement_import_encryption_key
      summary: Get bank statement import encryption key
      description: Retrieve the public key used to encrypt bank statement files before import.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-bank-statement-import-encryption-key-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/rules:
    x-mcp-group:
      - Bank Rules
    get:
      tags:
        - bank-rules
      operationId: list_bank_account_rules
      summary: Get Rules List
      description: Fetch all the rules created in the organization.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-rules-list-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    post:
      tags:
        - bank-rules
      operationId: create_bank_account_rule
      summary: Create a rule
      description: Create a rule and apply it on deposit/withdrawal for bank accounts and on refund/charges for credit card accounts.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-a-rule-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-a-rule-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    put:
      tags:
        - bank-rules
      operationId: bulk_update_bank_account_rules
      summary: Bulk update rules
      description: Update multiple bank rules in a single request.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulk-update-bank-account-rules-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.UPDATE
    delete:
      tags:
        - bank-rules
      operationId: bulk_delete_bank_account_rules
      summary: Bulk delete rules
      description: Delete multiple bank rules in a single request.
      parameters:
        - name: rule_ids
          in: query
          required: true
          description: 'Comma-separated IDs of the rules to delete. Note: This value is a set of numeric characters separated by comma.'
          schema:
            type: string
          example: 460000000050001,460000000050002
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulk-delete-bank-account-rules-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.DELETE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/rules/{rule_id}:
    x-mcp-group:
      - Bank Rules
    get:
      tags:
        - bank-rules
      operationId: get_bank_account_rule
      summary: Get a rule
      description: Get details of a specific rule.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-a-rule-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    put:
      tags:
        - bank-rules
      operationId: update_bank_account_rule
      summary: Update a rule
      description: Make changes to the rule, add or modify it and update.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-a-rule-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-a-rule-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.UPDATE
    delete:
      tags:
        - bank-rules
      operationId: delete_bank_account_rule
      summary: Delete a rule
      description: Delete a rule from your account and make it no longer applicable on the transactions.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-a-rule-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.DELETE
    parameters:
      - name: rule_id
        in: path
        required: true
        description: Unique identifier of the bank account rule.
        schema:
          type: string
        example: '460000000048005'
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/rules/order:
    x-mcp-group:
      - Bank Rules
    post:
      tags:
        - bank-rules
      operationId: reorder_bank_account_rules
      summary: Reorder rules
      description: Change the order in which bank rules are evaluated.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reorder-bank-account-rules-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/rules/skipsuggest:
    x-mcp-group:
      - Bank Rules
    post:
      tags:
        - bank-rules
      operationId: skip_suggested_bank_account_rule
      summary: Skip a suggested rule
      description: Dismiss a bank rule suggested by Zoho Books.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/skip-suggested-bank-account-rule-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/matchfilters:
    x-mcp-group:
      - Bank Rules
    get:
      tags:
        - bank-rules
      operationId: list_bank_account_match_filters
      summary: List match filters
      description: List the match filters used to identify bank transactions for rules.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-bank-account-match-filters-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    post:
      tags:
        - bank-rules
      operationId: create_bank_account_match_filter
      summary: Create a match filter
      description: Create a match filter used to identify bank transactions for rules.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bank-account-match-filter-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-bank-account-match-filter-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /bankaccounts/matchfilters/{match_filter_id}:
    x-mcp-group:
      - Bank Rules
    put:
      tags:
        - bank-rules
      operationId: update_bank_account_match_filter
      summary: Update a match filter
      description: Update a match filter used to identify bank transactions for rules.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bank-account-match-filter-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-bank-account-match-filter-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.UPDATE
    delete:
      tags:
        - bank-rules
      operationId: delete_bank_account_match_filter
      summary: Delete a match filter
      description: Delete a match filter.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-bank-account-match-filter-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.DELETE
    parameters:
      - name: match_filter_id
        in: path
        required: true
        description: 'Unique identifier of the match filter. Note: This value is a set of numeric characters.'
        schema:
          type: string
        example: '460000000050010'
      - $ref: '#/components/parameters/organization_id'
  /banktransactions:
    x-mcp-group:
      - Bank Transactions
    post:
      tags:
        - bank-transactions
      operationId: create_bank_transaction
      summary: Create a transaction for an account
      description: Create a bank transaction based on the allowed transaction types.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-a-transaction-for-an-account-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-a-transaction-for-an-account-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    get:
      tags:
        - bank-transactions
      operationId: list_bank_transactions
      summary: Get transactions list
      description: Get all the transaction details involved in an account.
      parameters:
        - name: account_id
          in: query
          description: ID of the bank account to filter transactions.
          required: false
          schema:
            type: string
          example: '460000000048001'
        - name: transaction_type
          in: query
          description: 'Type of the bank transaction. Allowed Values: <code>sales_without_invoices</code>, <code>expense_refund</code>, <code>owner_drawings</code>, <code>owner_contribution</code>, <code>interest_income</code>, <code>other_income</code>, <code>expense</code>, <code>deposit</code>'
          required: false
          schema:
            type: string
          example: deposit
        - name: date
          in: query
          description: 'Start and end date, to provide a range within which the transaction date exist. Variants: <code>date_start</code> and <code>date_end</code>'
          required: false
          schema:
            type: string
          example: '2013-10-01'
        - name: amount
          in: query
          description: 'Start and end amount, to provide a range within which the transaction amount exist. Variants: <code>amount_start</code> and <code>amount_end</code>'
          required: false
          schema:
            type: number
            format: double
          example: 2000
        - name: status
          in: query
          description: Transaction status wise list view - All, uncategorized, manually_added, matched, excluded, categorized
          required: false
          schema:
            type: string
          example: categorized
        - name: reference_number
          in: query
          description: Search using Reference Number of the transaction
          required: false
          schema:
            type: string
          example: Ref-121
        - name: filter_by
          in: query
          description: 'Filters the transactions based on the allowed types. Allowed Values: <code>Status.All</code>, <code>Status.Uncategorized</code>, <code>Status.Categorized</code>, <code>Status.ManuallyAdded</code>, <code>Status.Excluded</code> and <code>Status.Matched</code>.'
          required: false
          schema:
            type: string
          example: ''
        - name: sort_column
          in: query
          description: 'Sorts the transactions based on the allowed sort types. Allowed Values: <code>date</code>.'
          required: false
          schema:
            type: string
          example: ''
        - name: transaction_status
          in: query
          description: Transaction status wise list view - All, uncategorized, manually_added, matched, excluded, categorized
          required: false
          schema:
            type: string
          example: ''
        - name: search_text
          in: query
          description: Search Transactions by contact name or description
          required: false
          schema:
            type: string
          example: ''
        - name: page
          in: query
          description: Page number to be fetched. Default value is 1.
          required: false
          schema:
            type: integer
            default: 1
          example: 1
        - name: per_page
          in: query
          description: Number of records to be fetched per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-transactions-list-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /banktransactions/{bank_transaction_id}:
    x-mcp-group:
      - Bank Transactions
    put:
      tags:
        - bank-transactions
      operationId: update_bank_transaction
      summary: Update a transaction
      description: Make changes in the applicable fields of a transaction and update it.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-a-transaction-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-a-transaction-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.UPDATE
    get:
      tags:
        - bank-transactions
      operationId: get_bank_transaction
      summary: Get transaction
      description: Fetch the details of a transaction by specifying the transaction_id.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-transaction-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    delete:
      tags:
        - bank-transactions
      operationId: delete_bank_transaction
      summary: Delete a transaction
      description: Delete a transaction from an account by specifying the transaction_id.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-a-transaction-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.DELETE
    parameters:
      - name: bank_transaction_id
        in: path
        required: true
        description: Unique identifier of the bank transaction.
        schema:
          type: string
        example: '460000000048017'
      - $ref: '#/components/parameters/organization_id'
  /banktransactions/uncategorized/{transaction_id}/match:
    x-mcp-group:
      - Bank Transactions
    get:
      tags:
        - bank-transactions
      operationId: get_matching_bank_transactions
      summary: Get matching transactions
      description: Provide criteria to search for matching uncategorised transactions. The list of transactions can also include invoices/bills/credit-notes which will not be matched directly. Instead, a new (payment/refund) transaction is recorded and matched.
      parameters:
        - name: transaction_id
          in: query
          description: ID of the Transaction
          required: false
          schema:
            type: string
          example: '460000000048017'
        - name: transaction_type
          in: query
          description: 'Type of the transaction. <br> <strong>Allowed transaction types</strong> : deposit, refund(*Supported only in Credit Card accounts), transfer_fund, card_payment, sales_without_invoices, expense_refund, owner_contribution, interest_income, other_income, owner_drawings, sales_return <br> <strong>Note:</strong> You will not be able to create the following module-specific transaction types under Bank Transaction endpoints :<div> <a href="#Expenses">Expense</a>, <a href="#Vendor-Payments">Vendor Advance/Vendor Payment/Bill Payment</a>, <a href="#Vendor-Credits_Refund_a_vendor_credit">Vendor Credit Refund</a>, <a href="#Vendor-Payments_Refund_an_excess_vendor_payment">Vendor Payment Refund</a>, <a href="#Customer-Payments">Customer Advance/Customer Payment</a>, <a href="#Credit-Notes_Refund_credit_note">Credit Note Refund</a>, <a href="#Customer-Payments_Refund_an_excess_customer_payment">Payment Refund</a>. Hence, refer them in their repective modules.</div>'
          required: false
          schema:
            type: string
          example: deposit
        - name: date_after
          in: query
          description: Date after which Transactions are to be filtered
          required: false
          schema:
            type: string
          example: ''
        - name: date_before
          in: query
          description: Date before which Transactions are to be filtered
          required: false
          schema:
            type: string
          example: ''
        - name: amount_start
          in: query
          description: Starting amout with which transactions are to be filtered
          required: false
          schema:
            type: number
            format: double
          example: ''
        - name: amount_end
          in: query
          description: Starting amout with which transactions are to be filtered
          required: false
          schema:
            type: number
            format: double
          example: ''
        - name: contact
          in: query
          description: Contact person name, involved in the transaction.
          required: false
          schema:
            type: string
          example: ''
        - name: reference_number
          in: query
          description: Reference Number of the transaction
          required: false
          schema:
            type: string
          example: Ref-121
        - name: show_all_transactions
          in: query
          description: Check if all transactions must be shown
          required: false
          schema:
            type: boolean
        - name: page
          in: query
          description: Page number to be fetched. Default value is 1.
          required: false
          schema:
            type: integer
            default: 1
          example: 1
        - name: per_page
          in: query
          description: Number of records to be fetched per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-matching-transactions-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.READ
    post:
      tags:
        - bank-transactions
      operationId: match_bank_transaction
      summary: Match a transaction
      description: Match an uncategorized transaction with an existing transaction in the account.
      parameters:
        - name: account_id
          in: query
          description: Mandatory Account id for which transactions are to be listed.
          required: false
          schema:
            type: string
          example: '460000000048001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/match-a-transaction-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/match-a-transaction-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the bank transaction.
        schema:
          type: string
        example: '460000000048017'
      - $ref: '#/components/parameters/organization_id'
  /banktransactions/{transaction_id}/unmatch:
    x-mcp-group:
      - Bank Transactions
    post:
      tags:
        - bank-transactions
      operationId: unmatch_bank_transaction
      summary: Unmatch a matched transaction
      description: Unmatch a transaction that was previously matched and make it uncategorized.
      parameters:
        - name: account_id
          in: query
          description: Mandatory Account id for which transactions are to be listed.
          required: false
          schema:
            type: string
          example: '460000000048001'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unmatch-a-matched-transaction-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the bank transaction.
        schema:
          type: string
        example: '460000000048017'
      - $ref: '#/components/parameters/organization_id'
  /banktransactions/uncategorized/{transaction_id}/exclude:
    x-mcp-group:
      - Bank Transactions
    post:
      tags:
        - bank-transactions
      operationId: exclude_bank_transaction
      summary: Exclude a transaction
      description: Exclude a transaction from your bank or credit card account.
      parameters:
        - name: account_id
          in: query
          description: Mandatory Account id for which transactions are to be listed.
          required: false
          schema:
            type: string
          example: '460000000048001'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exclude-a-transaction-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the bank transaction.
        schema:
          type: string
        example: '460000000048017'
      - $ref: '#/components/parameters/organization_id'
  /banktransactions/uncategorized/{transaction_id}/restore:
    x-mcp-group:
      - Bank Transactions
    post:
      tags:
        - bank-transactions
      operationId: restore_bank_transaction
      summary: Restore a transaction
      description: Restore an excluded transaction in your account.
      parameters:
        - name: account_id
          in: query
          description: Mandatory Account id for which transactions are to be listed.
          required: false
          schema:
            type: string
          example: '460000000048001'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restore-a-transaction-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the bank transaction.
        schema:
          type: string
        example: '460000000048017'
      - $ref: '#/components/parameters/organization_id'
  /banktransactions/uncategorized/{transaction_id}/categorize:
    x-mcp-group:
      - Bank Transactions
    post:
      tags:
        - bank-transactions
      operationId: categorize_bank_transaction
      summary: Categorize an uncategorized transaction
      description: Categorize an uncategorized transaction by creating a new transaction.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/categorize-an-uncategorized-transaction-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categorize-an-uncategorized-transaction-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the bank transaction.
        schema:
          type: string
        example: '460000000048017'
      - $ref: '#/components/parameters/organization_id'
  /banktransactions/uncategorized/{transaction_id}/categorize/expenses:
    x-mcp-group:
      - Bank Transactions
    post:
      tags:
        - bank-transactions
      operationId: categorize_bank_transaction_as_expense
      summary: Categorize as expense
      description: Categorize an Uncategorized transaction as expense.
      parameters:
        - name: doc
          in: query
          description: Document that is to be attached
          required: false
          schema:
            type: string
          example: ''
        - name: totalFiles
          in: query
          description: Total number of files.
          required: false
          schema:
            type: integer
          example: 0
        - name: document_ids
          in: query
          description: Comma-separated list of document IDs to be attached to the transaction.
          required: false
          schema:
            type: string
          example: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/categorize-as-expense-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categorize-as-expense-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the bank transaction.
        schema:
          type: string
        example: '460000000048017'
      - $ref: '#/components/parameters/organization_id'
  /banktransactions/{transaction_id}/uncategorize:
    x-mcp-group:
      - Bank Transactions
    post:
      tags:
        - bank-transactions
      operationId: uncategorize_bank_transaction
      summary: Uncategorize a categorized transaction
      description: Revert a categorized transaction as uncategorized.
      parameters:
        - name: account_id
          in: query
          description: Mandatory Account id for which transactions are to be listed.
          required: false
          schema:
            type: string
          example: '460000000048001'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uncategorize-a-categorized-transaction-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the bank transaction.
        schema:
          type: string
        example: '460000000048017'
      - $ref: '#/components/parameters/organization_id'
  /banktransactions/uncategorized/{transaction_id}/categorize/vendorpayments:
    x-mcp-group:
      - Bank Transactions
    post:
      tags:
        - bank-transactions
      operationId: categorize_bank_transaction_as_vendor_payment
      summary: Categorize a vendor payment
      description: Categorize an uncategorized transaction as Vendor Payment.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/categorize-a-vendor-payment-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categorize-a-vendor-payment-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the bank transaction.
        schema:
          type: string
        example: '460000000048017'
      - $ref: '#/components/parameters/organization_id'
  /banktransactions/uncategorized/{transaction_id}/categorize/customerpayments:
    x-mcp-group:
      - Bank Transactions
    post:
      tags:
        - bank-transactions
      operationId: categorize_bank_transaction_as_customer_payment
      summary: Categorize as customer payment
      description: Categorize an uncategorized transaction as Customer Payment.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/categorize-as-customer-payment-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categorize-as-customer-payment-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the bank transaction.
        schema:
          type: string
        example: '460000000048017'
      - $ref: '#/components/parameters/organization_id'
  /banktransactions/uncategorized/{transaction_id}/categorize/creditnoterefunds:
    x-mcp-group:
      - Bank Transactions
    post:
      tags:
        - bank-transactions
      operationId: categorize_as_credit_note_refunds
      summary: Categorize as credit note refunds
      description: Categorize an Uncategorized transaction as a refund from a credit note.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/categorize-as-credit-note-refunds-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categorize-as-credit-note-refunds-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the bank transaction.
        schema:
          type: string
        example: '460000000048017'
      - $ref: '#/components/parameters/organization_id'
  /banktransactions/uncategorized/{transaction_id}/categorize/vendorcreditrefunds:
    x-mcp-group:
      - Bank Transactions
    post:
      tags:
        - bank-transactions
      operationId: categorize_as_vendor_credit_refunds
      summary: Categorize as vendor credit refunds
      description: Categorize an uncategorized transaction as a refund from a vendor credit.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/categorize-as-vendor-credit-refunds-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categorize-as-vendor-credit-refunds-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the bank transaction.
        schema:
          type: string
        example: '460000000048017'
      - $ref: '#/components/parameters/organization_id'
  /banktransactions/uncategorized/{statement_line_id}/categorize/paymentrefunds:
    x-mcp-group:
      - Bank Transactions
    post:
      tags:
        - bank-transactions
      operationId: categorize_bank_transaction_as_payment_refund
      summary: Categorize as Customer Payment refund
      description: Categorizing bank transactions as Payment Refund.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/categorize-as-customer-payment-refund-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categorize-as-customer-payment-refund-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: statement_line_id
        in: path
        required: true
        description: Unique identifier of the bank statement line.
        schema:
          type: string
        example: ''
      - $ref: '#/components/parameters/organization_id'
  /banktransactions/uncategorized/{statement_line_id}/categorize/vendorpaymentrefunds:
    x-mcp-group:
      - Bank Transactions
    post:
      tags:
        - bank-transactions
      operationId: categorize_as_vendor_payment_refund
      summary: Categorize as Vendor Payment refund
      description: Categorizing bank transactions as Vendor Payment Refund.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/categorize-as-vendor-payment-refund-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categorize-as-vendor-payment-refund-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.banking.CREATE
    parameters:
      - name: statement_line_id
        in: path
        required: true
        description: Unique identifier of the bank statement line.
        schema:
          type: string
        example: ''
      - $ref: '#/components/parameters/organization_id'
  /basecurrencyadjustment:
    x-mcp-group:
      - Base Currency Adjustment
      - Currency
    post:
      tags:
        - base-currency-adjustment
      operationId: create_base_currency_adjustment
      summary: Create a base currency adjustment
      description: Creates a base currency adjustment for the given information.
      parameters:
        - name: account_ids
          in: query
          description: ID of the accounts for which base currency adjustments need to be posted.
          required: true
          schema:
            type: string
          example: 460000000000364
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-a-base-currency-adjustment-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-a-base-currency-adjustment-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.accountants.CREATE
    get:
      tags:
        - base-currency-adjustment
      operationId: list_base_currency_adjustments
      summary: List base currency adjustment
      description: Lists base currency adjustment.
      parameters:
        - name: filter_by
          in: query
          description: 'Filter base currency adjustment list. Allowed Values: <code>Date.All</code>, <code>Date.Today</code>, <code>Date.ThisWeek</code>, <code>Date.ThisMonth</code>, <code>Date.ThisQuarter</code> and <code>Date.ThisYear</code>.'
          required: false
          schema:
            type: string
          example: ''
        - name: sort_column
          in: query
          description: 'Sort base currency adjustment list. Allowed Values: <code>adjustment_date</code>, <code>exchange_rate</code>, <code>currency_code</code>, <code>debit_or_credit</code> and <code>gain_or_loss</code>.'
          required: false
          schema:
            type: string
          example: ''
        - name: last_modified_time
          in: query
          description: Search using the Last Modified Time of the Base Currency Adjustment
          required: false
          schema:
            type: string
          example: ''
        - name: page
          in: query
          description: Page number to be fetched. Default value is 1.
          required: false
          schema:
            type: integer
            default: 1
          example: 1
        - name: per_page
          in: query
          description: Number of records to be fetched per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-base-currency-adjustment-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.accountants.READ
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /basecurrencyadjustment/{base_currency_adjustment_id}:
    x-mcp-group:
      - Base Currency Adjustment
      - Currency
    get:
      tags:
        - base-currency-adjustment
      operationId: get_base_currency_adjustment
      summary: Get a base currency adjustment
      description: Get the base currency adjustment details.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-a-base-currency-adjustment-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.accountants.READ
    delete:
      tags:
        - base-currency-adjustment
      operationId: delete_base_currency_adjustment
      summary: Delete a base currency adjustment
      description: Deletes the base currency adjustment.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-a-base-currency-adjustment-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.accountants.DELETE
    parameters:
      - name: base_currency_adjustment_id
        in: path
        required: true
        description: Unique identifier of the base currency adjustment.
        schema:
          type: string
        example: '460000000039001'
      - $ref: '#/components/parameters/organization_id'
  /basecurrencyadjustment/bulkdelete:
    x-mcp-group:
      - Base Currency Adjustment
      - Currency
    delete:
      tags:
        - base-currency-adjustment
      operationId: bulk_delete_base_currency_adjustments
      summary: Bulk delete base currency adjustments
      description: Deletes multiple base currency adjustments.
      parameters:
        - name: base_currency_adjustment_ids
          in: query
          description: Comma separated base currency adjustment IDs which are to be deleted.
          required: true
          schema:
            type: string
          example: 460000000039001,460000000039002
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-a-base-currency-adjustment-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.accountants.DELETE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /basecurrencyadjustment/{base_currency_adjustment_id}/reevaluate:
    x-mcp-group:
      - Base Currency Adjustment
      - Currency
    post:
      tags:
        - base-currency-adjustment
      operationId: reevaluate_base_currency_adjustment
      summary: Reevaluate a base currency adjustment
      description: Reevaluates a base currency adjustment.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reevaluate-base-currency-adjustment-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.accountants.CREATE
    parameters:
      - name: base_currency_adjustment_id
        in: path
        required: true
        description: Unique identifier of the base currency adjustment.
        schema:
          type: string
        example: '460000000039001'
      - $ref: '#/components/parameters/organization_id'
  /basecurrencyadjustment/accounts:
    x-mcp-group:
      - Base Currency Adjustment
      - Currency
    get:
      tags:
        - base-currency-adjustment
      operationId: list_base_currency_adjustment_accounts
      summary: List account details for base currency adjustment
      description: List of accounts having transaction with effect to the given exchange rate.
      parameters:
        - name: currency_id
          in: query
          description: ID of currency for which we need to post adjustment.
          required: true
          schema:
            type: string
          example: '460000000000109'
        - name: adjustment_date
          in: query
          description: Date of adjustment.
          required: true
          schema:
            type: string
          example: '2013-09-05'
        - name: exchange_rate
          in: query
          description: Exchange rate of the currency.
          required: true
          schema:
            type: number
            format: double
          example: 1
        - name: notes
          in: query
          description: Notes for base currency adjustment.
          required: true
          schema:
            type: string
          example: Base Currency Adjustment against EUR
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-account-details-for-base-currency-adjustment-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.accountants.READ
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /basecurrencyadjustment/contacts:
    x-mcp-group:
      - Base Currency Adjustment
      - Currency
    get:
      tags:
        - base-currency-adjustment
      operationId: list_base_currency_adjustment_contacts
      summary: List contact details for base currency adjustment
      description: List contacts having transactions with effect to the given exchange rate for a specific account.
      parameters:
        - name: currency_id
          in: query
          description: ID of currency for which we need to post adjustment.
          required: true
          schema:
            type: string
          example: '460000000000109'
        - name: account_id
          in: query
          description: ID of the account.
          required: true
          schema:
            type: string
          example: '460000000000364'
        - name: adjustment_date
          in: query
          description: Date of adjustment.
          required: true
          schema:
            type: string
          example: '2013-09-05'
        - name: exchange_rate
          in: query
          description: Exchange rate of the currency.
          required: true
          schema:
            type: number
            format: double
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-base-currency-adjustment-contacts-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.accountants.READ
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /bills:
    x-mcp-group:
      - Bills
    post:
      tags:
        - bills
      operationId: create_bill
      summary: Create a bill
      description: Create a bill received from your vendor.
      parameters:
        - name: attachment
          in: query
          description: 'File to attach. Allowed Extensions: <code>gif</code>, <code>png</code>, <code>jpeg</code>, <code>jpg</code>, <code>bmp</code> and <code>pdf</code>.'
          required: false
          schema:
            type: string
            format: binary
          example: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-a-bill-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-a-bill-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.bills.CREATE
    get:
      tags:
        - bills
      operationId: list_bills
      summary: List bills
      description: List all bills with pagination.
      parameters:
        - name: bill_number
          in: query
          description: Filter bills by bill number. Accepts exact matches or use <code>bill_number_startswith</code> for prefix matching and <code>bill_number_contains</code> for substring matching. Useful for finding bills by unique identifier or partial patterns.
          required: false
          schema:
            type: string
          example: '00454'
        - name: reference_number
          in: query
          description: Filter bills by reference number. Accepts exact matches or use <code>reference_number_startswith</code> for prefix matching and <code>reference_number_contains</code> for substring matching. Useful for finding bills by external references or vendor invoice numbers.
          required: false
          schema:
            type: string
          example: '4321133'
        - name: date
          in: query
          description: Filter bills by bill date in YYYY-MM-DD format. Use <code>date_start</code>/<code>date_end</code> for ranges, <code>date_before</code>/<code>date_after</code> for relative dates. Useful for billing periods and due date management.
          required: false
          schema:
            type: string
          example: '2013-09-11'
        - name: due_date
          in: query
          description: 'Search bills by due date. Filters bills based on the payment due date. Use yyyy-mm-dd format. Supports variants: <code>due_date_start</code>, <code>due_date_end</code>, <code>due_date_before</code> and <code>due_date_after</code>. Useful for finding overdue bills or bills due within specific periods.'
          required: false
          schema:
            type: string
          example: '2013-12-03'
        - name: created_date
          in: query
          description: 'Search bills by creation date. Filters bills based on the date they were created. Use yyyy-mm-dd format. Supports variants: <code>created_date_start</code> and <code>created_date_end</code>. Useful for finding bills created within specific time periods or date ranges.'
          required: false
          schema:
            type: string
          example: '2013-11-17'
        - name: status
          in: query
          description: 'Filter bills by status: <code>paid</code>, <code>open</code>, <code>overdue</code>, <code>void</code>, or <code>partially_paid</code>. Useful for payment status filtering, accounts payable management, and status-specific reporting.'
          required: false
          schema:
            type: string
            enum:
              - paid
              - open
              - overdue
              - void
              - partially_paid
              - unpaid
              - draft
              - pending_approval
              - approval_overdue
              - my_approvals
              - rejected
              - approved
          example: open
        - name: description
          in: query
          description: Filter bills by description text. Accepts exact matches or use <code>description_startswith</code> for prefix matching and <code>description_contains</code> for substring matching. Useful for finding bills by line item descriptions or vendor notes.
          required: false
          schema:
            type: string
          example: ''
        - name: vendor_name
          in: query
          description: Filter bills by vendor name. Use <code>vendor_name_startswith</code> for prefix matching or <code>vendor_name_contains</code> for substring matching. Useful for finding bills from specific suppliers.
          required: false
          schema:
            type: string
          example: ''
        - name: total
          in: query
          description: Search bills by total amount. Filters bills based on the final bill amount including taxes, discounts, and adjustments. Useful for finding bills within specific price ranges or identifying high-value transactions.
          required: false
          schema:
            type: string
          example: 40.6
        - name: vendor_id
          in: query
          description: Filter bills by specific vendor ID. Accepts the unique identifier for a vendor to retrieve all bills associated with that particular supplier or vendor account.
          required: false
          schema:
            type: string
          example: '460000000038029'
        - name: project_id
          in: query
          description: Filter bills by specific project ID. Accepts the unique identifier for a project to retrieve all bills associated with that particular project.
          required: false
          schema:
            type: string
          example: '460000000038030'
        - name: item_name
          in: query
          description: Search bills by item name. Filters bills based on product or service names in bill line items. Supports <code>item_name_startswith</code> and <code>item_name_contains</code> variants. Maximum length is 100 characters. Useful for finding bills with specific products or services.
          required: false
          schema:
            type: string
          example: Desktop Units
        - name: item_description
          in: query
          description: Search bills by item description. Filters bills based on detailed descriptions of products or services in line items. Supports <code>item_description_startswith</code> and <code>item_description_contains</code> variants. Maximum length is 100 characters. Useful for finding bills with specific item descriptions or technical specifications.
          required: false
          schema:
            type: string
          example: 500GB, USB 2.0 interface
        - name: item_id
          in: query
          description: Filter bills by specific item ID. Retrieves all bills containing a particular product or service item based on its unique identifier.
          required: false
          schema:
            type: string
          example: '460000000054135'
        - name: recurring_bill_id
          in: query
          description: Filter bills by recurring bill ID. Retrieves all bills generated from a specific recurring bill template or schedule.
          required: false
          schema:
            type: string
          example: ''
        - name: purchaseorder_id
          in: query
          description: Filter bills by purchase order ID. Retrieves all bills associated with a specific purchase order for tracking procurement workflows.
          required: false
          schema:
            type: string
          example: '460000000068231'
        - name: last_modified_time
          in: query
          description: 'Search bills modified after a specific time. Filters bills based on their last modification timestamp. Use YYYY-MM-DDTHH:MM:SS-UTC format. Useful for finding recently updated bills or syncing data changes. Example : 2023-11-18T02:02:51-0800, 2025-19-19T02:02:51%2B0800'
          required: false
          schema:
            type: string
          example: 2013-11-18T02:02:51-0800
        - name: customer_id
          in: query
          description: 'Search bills by customer ID. Filters bills based on the unique identifier of the customer associated with the bill. Use the customer ID returned by the Contacts API to find bills for a specific customer. Note: This value is a set of numeric characters.'
          required: false
          schema:
            type: string
          example: 982000000567001
        - name: filter_by
          in: query
          description: Filter bills by status using predefined status constants. Options include <code>Status.All</code>, <code>Status.PartiallyPaid</code>, <code>Status.Paid</code>, <code>Status.Overdue</code>, <code>Status.Void</code>, and <code>Status.Open</code>.
          required: false
          schema:
            type: string
            enum:
              - Status.All
              - Status.Paid
              - Status.Open
              - Status.Overdue
              - Status.Void
              - Status.PartiallyPaid
              - Status.Unpaid
              - Status.Draft
              - Status.Pending
              - Status.ApprovalOverdue
              - Status.CreditNotes
              - Status.MyApprovals
              - Status.Network
              - Status.NetworkPending
              - Status.EInvoicedBills
              - Status.EInvoicePendingBills
              - Status.MSMEDueBills
              - Status.TDSInvoices
              - Status.BBPSPendingApproval
              - Status.BBPSAccepted
              - Status.BBPSAcceptFailed
              - Status.BBPSRejected
              - Status.BBPSRejectFailed
              - Status.BBPSReturned
              - Status.BBPSReturnFailed
              - Status.PMSAppliedBills
              - Status.ViolatedBills
              - YetToBeReceived
              - Received
              - ExceptionList
              - WithAttachment
              - WithoutAttachment
              - Source.TallyConnector
              - MissingAdvancedTrackingDetails
              - TDSCalculationExceptionList
              - Type.All
              - Type.Bills
              - Type.SelfBilled
              - Type.MyRecentBills
          example: Status.All
        - name: search_text
          in: query
          description: Filter bills using general search text. Searches across bill number, reference number, and vendor name fields to find matching bills. Useful for quick searches when you know part of the bill information.
          required: false
          schema:
            type: string
          example: ''
        - name: page
          in: query
          description: Specify the page number for pagination. Use this parameter to navigate through multiple pages of bills when the total number of bills exceeds the per_page limit.
          required: false
          schema:
            type: integer
          example: 1
        - name: per_page
          in: query
          description: Specify the number of bills to retrieve per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 10
        - name: location_ids
          in: query
          description: 'List of location IDs to filter bills by their associated locations. Use this parameter to retrieve bills linked to specific business locations. Note: This value is a comma-separated list of numeric location IDs.'
          required: false
          schema:
            type: string
          example: 460000000038080,460000000038081
        - name: sort_column
          in: query
          description: Specify the column to sort bills by. Available options include <code>vendor_name</code>, <code>bill_number</code>, <code>date</code>, <code>due_date</code>, <code>total</code>, <code>balance</code>, and <code>created_time</code>.
          required: false
          schema:
            type: string
            enum:
              - vendor_name
              - bill_number
              - date
              - due_date
              - total
              - balance
              - created_time
              - last_modified_time
              - txn_value_date
              - total_retention_amount
          example: created_time
        - name: sort_order
          in: query
          description: Specify the sorting order for bills. Use <code>A</code> for ascending order (A-Z, 0-9, earliest to latest) or <code>D</code> for descending order (Z-A, 9-0, latest to earliest).
          required: false
          schema:
            type: string
          example: D
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-bills-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.bills.READ
    put:
      tags:
        - bills
      operationId: update_bill_using_custom_field
      summary: Update a bill using a custom field's unique value
      description: A custom field will have unique values if it's configured to not accept duplicate values. Now, you can use that custom field's value to update a bill by providing its API name in the X-Unique-Identifier-Key header and its value in the X-Unique-Identifier-Value header. Based on this value, the corresponding bill will be retrieved and updated. Additionally, there is an optional X-Upsert header. If the X-Upsert header is true and the custom field's unique value is not found in any of the existing bills, a new bill will be created if the necessary payload details are available
      parameters:
        - name: X-Unique-Identifier-Key
          in: header
          description: Specify the API name of the custom field that contains unique values. This field must be configured to not accept duplicate values for the upsert functionality to work properly.
          required: true
          schema:
            type: string
            example: cf_unique_cf
        - name: X-Unique-Identifier-Value
          in: header
          description: Provide the unique value from the custom field that identifies the specific bill to update. This value will be used to locate the existing bill record in the system.
          required: true
          schema:
            type: string
            example: unique Value
        - name: X-Upsert
          in: header
          description: When set to true, this header enables upsert functionality. If no bill is found with the specified custom field value, a new bill will be created using the provided payload data.
          required: false
          schema:
            type: boolean
            example: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-a-bill-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-a-bill-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.bills.UPDATE
    parameters:
      - $ref: '#/components/parameters/organization_id'
  /bills/{bill_id}:
    x-mcp-group:
      - Bills
    put:
      tags:
        - bills
      operationId: update_bill
      summary: Update a bill
      description: Update a bill. To delete a line item just remove it from the line_items list.
      parameters:
        - name: attachment
          in: query
          description: 'File to attach. Allowed Extensions: <code>gif</code>, <code>png</code>, <code>jpeg</code>, <code>jpg</code>, <code>bmp</code> and <code>pdf</code>.'
          required: false
          schema:
            type: string
            format: binary
          example: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-a-bill-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-a-bill-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.bills.UPDATE
    get:
      tags:
        - bills
      operationId: get_bill
      summary: Get a bill
      description: Get the details of a bill.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-a-bill-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.bills.READ
    delete:
      tags:
        - bills
      operationId: delete_bill
      summary: Delete a bill
      description: Delete an existing bill. Bills which have payments applied cannot be deleted.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-a-bill-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.bills.DELETE
    parameters:
      - name: bill_id
        in: path
        required: true
        description: Unique identifier of the bill.
        schema:
          type: string
        example: '460000000098765'
      - $ref: '#/components/parameters/organization_id'
  /bill/{bill_id}/customfields:
    x-mcp-group:
      - Bills
    put:
      tags:
        - bills
      operationId: update_custom_fields_in_bill
      summary: Update custom field in existing bills
      description: Update the value of the custom field in existing bills.
      parameters:
        - name: bill_id
          in: path
          required: true
          description: Unique identifier of the bill.
          schema:
            type: string
          example: '460000000098765'
        - $ref: '#/components/parameters/organization_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/custom_fields'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-an-bill-customfield-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.bills.UPDATE
  /bills/{bill_id}/status/void:
    x-mcp-group:
      - Bills
    post:
      tags:
        - bills
      operationId: mark_bill_void
      summary: Void a bill
      description: Mark a bill status as void.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/void-a-bill-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.bills.CREATE
    parameters:
      - name: bill_id
        in: path
        required: true
        description: Unique identifier of the bill.
        schema:
          type: string
        example: '460000000098765'
      - $ref: '#/components/parameters/organization_id'
  /bills/{bill_id}/status/open:
    x-mcp-group:
      - Bills
    post:
      tags:
        - bills
      operationId: mark_bill_open
      summary: Mark a bill as open
      description: Mark a void bill as open.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-a-bill-as-open-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.bills.CREATE
    parameters:
      - name: bill_id
        in: path
        required: true
        description: Unique identifier of the bill.
        schema:
          type: string
        example: '460000000098765'
      - $ref: '#/components/parameters/organization_id'
  /bills/{bill_id}/submit:
    x-mcp-group:
      - Bills
    post:
      tags:
        - bills
      operationId: submit_bill
      summary: Submit a bill for approval
      description: Submit a bill for approval.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/submit-a-bill-for-approval-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.bills.CREATE
    parameters:
      - name: bill_id
        in: path
        required: true
        description: Unique identifier of the bill.
        schema:
          type: string
        example: '460000000098765'
      - $ref: '#/components/parameters/organization_id'
  /bills/{bill_id}/approve:
    x-mcp-group:
      - Bills
    post:
      tags:
        - bills
      operationId: approve_bill
      summary: Approve a bill
      description: Approve a bill.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/approve-a-bill-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.bills.CREATE
    parameters:
      - name: bill_id
        in: path
        required: true
        description: Unique identifier of the bill.
        schema:
          type: string
        example: '460000000098765'
      - $ref: '#/components/parameters/organization_id'
  /bills/{bill_id}/address/billing:
    x-mcp-group:
      - Bills
    put:
      tags:
        - bills
      operationId: update_bill_billing_address
      summary: Update billing address
      description: Updates the billing address for this bill.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-billing-address-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-billing-address-response'
      deprecated: false
      security:
        - Zoho_Auth:
            - ZohoBooks.bills.UPDATE
    parameters:
      - name: bill_id
        in: path
        required: true
        description: Unique identifier of the bill.
        schema:
          type: string
        example: '460000000098765'
      - $ref: '#/components/parameters/organization_id'
  /bills/{bill_id}/payments:
    x-mcp-group:
      - Bills
    get:
      tags:
        - bills
[...]
